@let _activeNavigationMenuItemPath = activeNavigationMenuItemPath();

<ng-container *transloco="let t; prefix: 'jet-sidenav'">
  <mat-toolbar class="jet-sidenav-toolbar">
    <a
      matIconButton
      matTooltipPosition="after"
      [aria-label]="t('home')"
      [jetAnalytics]="{ name: 'open_home' }"
      [matTooltip]="t('home')"
      [routerLink]="['/']"
      (click)="clickNavigationMenuItem.emit()"
    >
      <mat-icon svgIcon="logo" />
    </a>
  </mat-toolbar>
  <div class="jet-sidenav-nav-list">
    <mat-nav-list>
      @for (
        navigationMenuItem of navigationMenuItems;
        track navigationMenuItem.path
      ) {
        <a
          mat-list-item
          matListItemTitle
          [activated]="
            _activeNavigationMenuItemPath === navigationMenuItem.path
          "
          [routerLink]="[navigationMenuItem.path]"
          (click)="clickNavigationMenuItem.emit()"
        >
          <mat-icon matListItemIcon>{{ navigationMenuItem.icon }}</mat-icon>
          <span>{{ navigationMenuItem.nameKey | transloco }}</span>
        </a>
      }
    </mat-nav-list>
  </div>
</ng-container>
