@let _activeNavItemPath = activeNavItemPath();

<ng-container *transloco="let t; prefix: 'sidenav'">
  <mat-toolbar class="jet-sidenav-toolbar">
    <a
      matIconButton
      matTooltipPosition="after"
      [aria-label]="t('open-home')"
      [jetAnalyticsEvent]="{ name: 'open_home' }"
      [matTooltip]="t('home')"
      [routerLink]="['/']"
      (click)="clickNavItem.emit()"
    >
      <mat-icon svgIcon="logo" />
    </a>
  </mat-toolbar>
  <div class="jet-sidenav-nav-list">
    <mat-nav-list>
      @for (navItem of navItems; track navItem.path) {
        <a
          /* matTooltipPosition="after" */
          /* [matTooltip]="navItem.nameKey | transloco" */
          mat-list-item
          matListItemTitle
          [activated]="_activeNavItemPath === navItem.path"
          [routerLink]="[navItem.path]"
          (click)="clickNavItem.emit()"
        >
          <mat-icon
            aria-hidden="false"
            matListItemIcon
            [matBadge]="getBadgeContent(navItem.badge)"
            [matBadgeHidden]="!navItem.badge"
            [svgIcon]="navItem.iconName"
          />
          <span>{{ navItem.nameKey | transloco }}</span>
        </a>
      }
    </mat-nav-list>
  </div>
</ng-container>
