HUSKY=1
VITE_GOOGLE_ANALYTICS_MEASUREMENT_ID=your-google-analytics-measurement-id
VITE_IS_ANALYTICS_ENABLED=false
VITE_IS_LOGGING_ENABLED=true
VITE_SUPABASE_PROJECT_URL=http://localhost:54321
VITE_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key
