<ng-container *transloco="let t">
  <div style="display: flex; gap: 8px; justify-content: center">
    <a
      href="https://karmasakshi.lemonsqueezy.com/buy/e64ca58c-301a-40b7-b78e-0dd74b37878f"
      matButton
      target="_blank"
    >
      <mat-icon>shopping_cart</mat-icon>
      <span>{{ t('jet-footer.buy') }}</span>
    </a>
    <a
      [jetAnalytics]="{ name: 'Open X profile' }"
      href="https://x.com/jetprojectdev"
      matButton
      target="_blank"
    >
      <mat-icon>alternate_email</mat-icon>
      <span>jetprojectdev</span>
    </a>
  </div>
</ng-container>
