<ng-container *transloco="let t; prefix: 'jet-footer'">
  <div
    style="
      color: var(--mat-sys-outline-variant);
      text-align: center;
      font: var(--mat-sys-body-small);
    "
  >
    <a
      href="https://karmasakshi.lemonsqueezy.com/buy/e64ca58c-301a-40b7-b78e-0dd74b37878f"
      target="_blank"
      >Buy</a
    >
    <span>&nbsp;&middot;&nbsp;</span>
    <a
      href="https://docs.jetproject.dev"
      target="_blank"
      >Docs</a
    >
    <span>&nbsp;&middot;&nbsp;</span>
    <a
      href="https://x.com/jetprojectdev"
      target="_blank"
      >&#64;jetprojectdev</a
    >
  </div>
</ng-container>
