<ng-container *transloco="let t; prefix: 'footer'">
  <div class="jet-stack">
    <div class="flex justify-center">
      <a
        href="https://x.com/jetprojectdev"
        matButton
        target="_blank"
        [jetAnalyticsEvent]="{ name: 'open_x_profile' }"
      >
        <mat-icon svgIcon="alternate-email-fill" />
        <span>jetprojectdev</span>
      </a>
    </div>
    <mat-divider />
    <div class="flex justify-center">
      <small>
        {{ t('v-x', { x: version }) }}
      </small>
    </div>
  </div>
</ng-container>
