<ng-container *transloco="let t; prefix: 'jet-app'">
  <mat-sidenav-container
    class="mat-typography"
    [dir]="settings.languageOption.directionality"
  >
    <mat-sidenav
      #drawer
      fixedInViewport
      [attr.role]="isSmallViewport ? 'dialog' : 'navigation'"
      [mode]="isSmallViewport ? 'over' : 'side'"
      [opened]="!isSmallViewport"
    >
      <mat-toolbar
        role="banner"
        style="background-color: inherit"
      >
        <a
          jetAnalytics
          jetAnalyticsEventName="Open Home"
          [matTooltip]="t('home')"
          [attr.aria-label]="t('home')"
          mat-icon-button
          routerLink="/"
          style="margin: 0 auto"
        >
          <img
            style="transform: scale(0.75)"
            [alt]="t('logo')"
            ngSrc="./logo.svg"
            width="24"
            height="24"
            priority
          />
        </a>
      </mat-toolbar>
      <div class="jet-drawer-content">
        <mat-nav-list [attr.aria-label]="t('navigation-menu')">
          @for (
            navigationMenuItem of navigationMenuItems;
            track navigationMenuItem.url
          ) {
            <a
              (click)="isSmallViewport && drawer.close()"
              matListItemTitle
              [activated]="
                activeNavigationMenuItemUrl === navigationMenuItem.url
              "
              mat-list-item
              [matTooltip]="t(navigationMenuItem.nameKey)"
              matTooltipPosition="after"
              [routerLink]="navigationMenuItem.url"
            >
              <mat-icon matListItemIcon>{{ navigationMenuItem.icon }}</mat-icon>
              <span>{{ t(navigationMenuItem.nameKey) }}</span>
            </a>
          }
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content role="region">
      <mat-progress-bar
        style="position: fixed; top: 0; left: 0; right: 0; z-index: 2"
        [ngClass]="{ 'jet-invisible': !progressBarConfiguration().isVisible }"
        [mode]="progressBarConfiguration().mode"
        [value]="progressBarConfiguration().value"
        [bufferValue]="progressBarConfiguration().bufferValue"
        [attr.aria-label]="t('progress-bar')"
      >
      </mat-progress-bar>
      <mat-toolbar
        [attr.aria-label]="t('main-toolbar')"
        role="toolbar"
        style="background-color: inherit"
        [ngClass]="{ 'jet-drawer-closed': !drawer.opened }"
      >
        @if (!isSmallViewport) {
          <button
            jetAnalytics
            jetAnalyticsEventName="Toggle Drawer"
            type="button"
            [matTooltip]="t('toggle-navigation-menu')"
            [attr.aria-label]="t('toggle-navigation-menu')"
            mat-icon-button
            (click)="drawer.toggle()"
          >
            <mat-icon>short_text</mat-icon>
          </button>
        } @else {
          <a
            jetAnalytics
            jetAnalyticsEventName="Open Home"
            [matTooltip]="t('home')"
            [attr.aria-label]="t('home')"
            mat-icon-button
            routerLink="/"
          >
            <img
              style="transform: scale(0.75)"
              [alt]="t('logo')"
              ngSrc="./logo.svg"
              width="24"
              height="24"
              priority
            />
          </a>
        }
        <span>{{ toolbarTitle() }}</span>
        <div style="flex: 1"></div>
      </mat-toolbar>
      <mat-tab-nav-panel #tabNavPanel>
        <main [ngClass]="{ 'jet-drawer-closed': !drawer.opened }">
          <router-outlet />
        </main>
      </mat-tab-nav-panel>
      <footer></footer>
      @if (isSmallViewport) {
        <nav
          [attr.aria-label]="t('navigation-menu')"
          backgroundColor="primary"
          mat-tab-nav-bar
          [tabPanel]="tabNavPanel"
        >
          @for (
            navigationMenuItem of navigationMenuItems;
            track navigationMenuItem.url
          ) {
            <a
              [active]="activeNavigationMenuItemUrl === navigationMenuItem.url"
              [routerLink]="navigationMenuItem.url"
              mat-tab-link
            >
              <mat-icon>{{ navigationMenuItem.icon }}</mat-icon>
              <span>&nbsp;{{ t(navigationMenuItem.nameKey) }}</span>
            </a>
          }
        </nav>
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
