<ng-container *transloco="let t; prefix: 'jet-app'">
  <mat-sidenav-container
    class="mat-typography"
    [dir]="settings().languageOption.directionality"
  >
    <mat-sidenav
      #drawer
      [attr.role]="isSmallViewport ? 'dialog' : 'navigation'"
      [mode]="isSmallViewport ? 'over' : 'side'"
      [opened]="!isSmallViewport"
      fixedInViewport
    >
      <mat-toolbar
        role="banner"
        style="background-color: inherit; justify-content: center"
      >
        <a
          [attr.aria-label]="t('home')"
          [matTooltip]="t('home')"
          jetAnalytics
          jetAnalyticsEventName="Open Home"
          mat-icon-button
          routerLink="/"
        >
          <img
            [alt]="t('logo')"
            height="24"
            ngSrc="./logo.svg"
            priority
            width="24"
          />
        </a>
      </mat-toolbar>
      <div class="jet-drawer-content">
        <mat-nav-list [attr.aria-label]="t('navigation-menu')">
          @for (
            navigationMenuItem of navigationMenuItems;
            track navigationMenuItem.url
          ) {
            <a
              [activated]="
                activeNavigationMenuItemUrl === navigationMenuItem.url
              "
              [matTooltip]="t(navigationMenuItem.nameKey)"
              [routerLink]="[navigationMenuItem.url]"
              (click)="isSmallViewport && drawer.close()"
              mat-list-item
              matListItemTitle
              matTooltipPosition="after"
            >
              <mat-icon matListItemIcon>{{ navigationMenuItem.icon }}</mat-icon>
              <span>{{ t(navigationMenuItem.nameKey) }}</span>
            </a>
          }
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content role="region">
      <mat-toolbar
        [attr.aria-label]="t('main-toolbar')"
        [ngClass]="{ 'jet-drawer-closed': !drawer.opened }"
        role="toolbar"
        style="background-color: inherit; position: relative"
      >
        <mat-progress-bar
          [attr.aria-label]="t('progress-bar')"
          [bufferValue]="progressBarConfiguration().bufferValue"
          [mode]="progressBarConfiguration().mode"
          [ngStyle]="{
            visibility: progressBarConfiguration().isVisible
              ? 'visible'
              : 'hidden',
          }"
          [value]="progressBarConfiguration().value"
          style="position: absolute; bottom: 0; left: 0; right: 0; z-index: 2"
        >
        </mat-progress-bar>
        @if (!isSmallViewport) {
          <button
            [attr.aria-label]="t('toggle-navigation-menu')"
            [matTooltip]="t('toggle-navigation-menu')"
            (click)="drawer.toggle()"
            jetAnalytics
            jetAnalyticsEventName="Toggle Drawer"
            mat-icon-button
            type="button"
          >
            <mat-icon>short_text</mat-icon>
          </button>
        } @else {
          <a
            [attr.aria-label]="t('home')"
            [matTooltip]="t('home')"
            jetAnalytics
            jetAnalyticsEventName="Open Home"
            mat-icon-button
            routerLink="/"
          >
            <img
              [alt]="t('logo')"
              height="24"
              ngSrc="./logo.svg"
              priority
              width="24"
            />
          </a>
        }
        <span>{{ toolbarTitle() }}</span>
        <div style="flex: 1"></div>
        @if (user() !== null) {
          <a
            mat-button
            routerLink="/logout"
          >
            <mat-icon>logout</mat-icon>
            <span>{{ t('logout') }}</span>
          </a>
        } @else {
          <a
            mat-button
            routerLink="/login"
          >
            <mat-icon>login</mat-icon>
            <span>{{ t('login') }}</span>
          </a>
        }
      </mat-toolbar>
      <mat-tab-nav-panel #tabNavPanel>
        <main [ngClass]="{ 'jet-drawer-closed': !drawer.opened }">
          <router-outlet />
        </main>
      </mat-tab-nav-panel>
      <footer></footer>
      @if (isSmallViewport) {
        <nav
          [attr.aria-label]="t('navigation-menu')"
          [tabPanel]="tabNavPanel"
          backgroundColor="primary"
          mat-tab-nav-bar
        >
          @for (
            navigationMenuItem of navigationMenuItems;
            track navigationMenuItem.url
          ) {
            <a
              [active]="activeNavigationMenuItemUrl === navigationMenuItem.url"
              [routerLink]="[navigationMenuItem.url]"
              mat-tab-link
            >
              <mat-icon>{{ navigationMenuItem.icon }}</mat-icon>
              <span>&nbsp;{{ t(navigationMenuItem.nameKey) }}</span>
            </a>
          }
        </nav>
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
