<ng-container *transloco="let t; prefix: 'jet-sign-up-page'">
  <jet-page
    [seoDescription]="t('seo.description')"
    [seoKeywords]="t('seo.keywords')"
    [seoTitle]="t('seo.title')"
    [toolbarTitle]="t('toolbar-title')"
  >
    <div class="jet-flex-col-center">
      @let _emailControl = signUpFormGroup.controls.email;
      <mat-card class="jet-maxw-480">
        <img
          [alt]="t('sign-up')"
          [ngSrc]="'./images/card.webp'"
          height="180"
          mat-card-image
          priority
          width="480"
        />
        <mat-card-header></mat-card-header>
        <mat-card-content>
          @let _passwordControl = signUpFormGroup.controls.password;
          <form
            id="sign-up-form"
            [formGroup]="signUpFormGroup"
            (ngSubmit)="
              signUp(_emailControl.value ?? '', _passwordControl.value ?? '')
            "
          >
            <mat-form-field>
              <mat-label>{{ t('email') }}</mat-label>
              <input
                autocomplete="email"
                formControlName="email"
                matInput
                required
                type="email"
              />
              @if (_emailControl.touched && _emailControl.errors?.['email']) {
                <mat-error>{{ t('enter-a-valid-email') }}</mat-error>
              }
              @if (
                _emailControl.touched && _emailControl.errors?.['required']
              ) {
                <mat-error>{{ t('email-is-required') }}</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ t('password') }}</mat-label>
              <input
                [type]="isPasswordHidden ? 'password' : 'text'"
                autocomplete="new-password"
                formControlName="password"
                matInput
                required
              />
              <button
                [attr.aria-label]="t('toggle-visibility')"
                [disabled]="_passwordControl.disabled"
                (click)="isPasswordHidden = !isPasswordHidden"
                matIconButton
                matSuffix
                tabindex="-1"
                type="button"
              >
                <mat-icon>{{
                  isPasswordHidden ? 'visibility' : 'visibility_off'
                }}</mat-icon>
              </button>
              @if (
                _passwordControl.touched &&
                _passwordControl.errors?.['minlength']
              ) {
                <mat-error>{{
                  t('password-length', {
                    minimum:
                      _passwordControl.errors?.['minlength'].requiredLength,
                  })
                }}</mat-error>
              }
              @if (
                _passwordControl.touched &&
                _passwordControl.errors?.['required']
              ) {
                <mat-error>{{ t('password-is-required') }}</mat-error>
              }
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            [disabled]="signUpFormGroup.disabled || signUpFormGroup.invalid"
            form="sign-up-form"
            matButton="filled"
            type="submit"
          >
            {{ t('sign-up') }}
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="jet-maxw-480">
        <mat-card-header></mat-card-header>
        <mat-card-content>
          <div class="jet-flex-col-center">
            <a
              [disabled]="signUpFormGroup.disabled"
              [queryParams]="{ email: _emailControl.value }"
              [routerLink]="['/sign-in']"
              matButton
              >{{ t('sign-in') }}</a
            >
            <a
              [disabled]="signUpFormGroup.disabled"
              [queryParams]="{ email: _emailControl.value }"
              [routerLink]="['/reset-password']"
              matButton
              >{{ t('reset-password') }}</a
            >
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </jet-page>
</ng-container>
