<ng-container *transloco="let t; prefix: 'jet-sign-up-page'">
  <jet-page
    [seoDescription]="t('seo.description')"
    [seoKeywords]="t('seo.keywords')"
    [seoTitle]="t('seo.title')"
    [toolbarTitle]="t('toolbar-title')"
  >
    <div class="jet-centered-container">
      <mat-card>
        <img
          [alt]="t('sign-up')"
          height="180"
          mat-card-image
          ngSrc="./card.webp"
          priority
          width="480"
        />
        <mat-card-content>
          <form
            id="sign-up-form"
            [formGroup]="signUpFormGroup"
            (ngSubmit)="
              signUp(
                signUpFormGroup.controls.email.value ?? '',
                signUpFormGroup.controls.password.value ?? ''
              )
            "
          >
            <mat-form-field>
              <mat-label>{{ t('email') }}</mat-label>
              <input
                autocomplete="email"
                formControlName="email"
                matInput
                required
                type="email"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ t('password') }}</mat-label>
              <input
                [type]="isPasswordHidden ? 'password' : 'text'"
                autocomplete="new-password"
                formControlName="password"
                matInput
                required
              />
              <button
                [disabled]="signUpFormGroup.controls.password.disabled"
                [matTooltip]="t('toggle-visibility')"
                (click)="isPasswordHidden = !isPasswordHidden"
                mat-icon-button
                matSuffix
                tabindex="-1"
                type="button"
              >
                <mat-icon>{{
                  isPasswordHidden ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </button>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            [disabled]="isSignUpPending || signUpFormGroup.invalid"
            form="sign-up-form"
            mat-flat-button
            type="submit"
          >
            <mat-icon>login</mat-icon>
            <span>{{ t('sign-up') }}</span>
          </button>
          <div style="flex: 1"></div>
          <a
            [disabled]="isSignUpPending"
            [queryParams]="{ email: signUpFormGroup.controls.email.value }"
            mat-button
            routerLink="/reset-password"
          >
            <mat-icon>lock_reset</mat-icon>
            <span>{{ t('reset-password') }}</span>
          </a>
        </mat-card-actions>
      </mat-card>
      <p style="color: var(--mat-sys-outline-variant); text-align: center">
        {{ t('or') }}
      </p>
      <mat-card>
        <mat-card-content>
          <div class="jet-stacked-container">
            <a
              [queryParams]="{ email: signUpFormGroup.controls.email.value }"
              mat-button
              routerLink="/sign-in"
            >
              <mat-icon>login</mat-icon>
              <span>{{ t('sign-in') }}</span>
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </jet-page>
</ng-container>
