@let _emailControl = signUpFormGroup.controls.email;
@let _passwordControl = signUpFormGroup.controls.password;

<ng-container *transloco="let t; prefix: 'jet-sign-up-page'">
  <jet-page
    [seoDescription]="t('seo.description')"
    [seoKeywords]="t('seo.keywords')"
    [seoTitle]="t('seo.title')"
    [toolbarTitle]="t('toolbar-title')"
  >
    <div class="jet-flexc-centered">
      <mat-card class="jet-maxw-480">
        <img
          height="180"
          mat-card-image
          ngSrc="./images/card.webp"
          priority
          width="480"
          [alt]="t('sign-up')"
        />
        <mat-card-header />
        <mat-card-content>
          <form
            id="sign-up-form"
            [formGroup]="signUpFormGroup"
            (ngSubmit)="
              signUp(_emailControl.value ?? '', _passwordControl.value ?? '')
            "
          >
            <mat-form-field>
              <mat-label>{{ t('email') }}</mat-label>
              <input
                autocomplete="email"
                formControlName="email"
                matInput
                required
                type="email"
              />
              @if (_emailControl.value !== null) {
                <button
                  matIconButton
                  matSuffix
                  tabindex="-1"
                  type="button"
                  [aria-label]="t('clear')"
                  [disabled]="_emailControl.disabled"
                  (click)="_emailControl.reset()"
                >
                  <mat-icon>close</mat-icon>
                </button>
              }
              @if (_emailControl.touched && _emailControl.errors?.['email']) {
                <mat-error>{{ t('email-error-email') }}</mat-error>
              }
              @if (
                _emailControl.touched && _emailControl.errors?.['required']
              ) {
                <mat-error>{{ t('email-error-required') }}</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ t('password') }}</mat-label>
              <input
                autocomplete="new-password"
                formControlName="password"
                matInput
                required
                [type]="isPasswordHidden ? 'password' : 'text'"
              />
              <button
                matIconButton
                matSuffix
                tabindex="-1"
                type="button"
                [aria-label]="t('toggle-visibility')"
                [disabled]="_passwordControl.disabled"
                (click)="isPasswordHidden = !isPasswordHidden"
              >
                <mat-icon>{{
                  isPasswordHidden ? 'visibility' : 'visibility_off'
                }}</mat-icon>
              </button>
              @if (
                _passwordControl.touched &&
                _passwordControl.errors?.['minlength']
              ) {
                <mat-error>{{
                  t('password-error-minlength', {
                    minimum:
                      _passwordControl.errors?.['minlength'].requiredLength,
                  })
                }}</mat-error>
              }
              @if (
                _passwordControl.touched &&
                _passwordControl.errors?.['required']
              ) {
                <mat-error>{{ t('password-error-required') }}</mat-error>
              }
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            form="sign-up-form"
            matButton="filled"
            type="submit"
            [disabled]="signUpFormGroup.disabled || signUpFormGroup.invalid"
          >
            {{ t('sign-up') }}
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="jet-maxw-480">
        <mat-card-content>
          <div class="jet-flexc-centered">
            <a
              matButton
              [disabled]="signUpFormGroup.disabled"
              [queryParams]="{ email: _emailControl.value }"
              [routerLink]="['/sign-in']"
              >{{ t('sign-in') }}</a
            >
            <a
              matButton
              [disabled]="signUpFormGroup.disabled"
              [queryParams]="{ email: _emailControl.value }"
              [routerLink]="['/reset-password']"
              >{{ t('reset-password') }}</a
            >
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </jet-page>
</ng-container>
