<ng-container *transloco="let t; prefix: 'jet-profile-page'">
  <jet-page
    [seoDescription]="t('seo.description')"
    [seoKeywords]="t('seo.keywords')"
    [seoTitle]="t('seo.title')"
    [toolbarTitle]="t('toolbar-title')"
  >
    <div class="jet-flex-col-center">
      <mat-card class="jet-maxw-480">
        <img
          [alt]="t('profile')"
          [ngSrc]="'./images/card.webp'"
          height="180"
          mat-card-image
          priority
          width="480"
        />
        <mat-card-header></mat-card-header>
        <mat-card-content>
          <mat-card
            [jetAnalytics]="{ name: 'Update avatar' }"
            [style]="{
              cursor: profileFormGroup.disabled ? 'not-allowed' : 'pointer',
            }"
            (click)="avatarFileInput.click()"
            mat-ripple
            style="
              border: 3px solid transparent;
              height: 132px;
              width: 132px;
              border-radius: 50%;
              margin: -88.5px auto 40px;
            "
          >
            <img
              [alt]="t('avatar')"
              [ngSrc]="
                profile?.avatar_url ??
                'https://placehold.co/128x128/webp?text=?'
              "
              height="128"
              mat-card-image
              priority
              width="128"
            />
            <mat-card-header></mat-card-header>
            <mat-card-content style="display: none">
              <input
                #avatarFileInput
                [disabled]="profileFormGroup.disabled"
                (change)="replaceAvatar()"
                accept="image/*"
                autocomplete="photo"
                type="file"
              />
            </mat-card-content>
          </mat-card>
          @let _usernameControl = profileFormGroup.controls.username;
          <form
            id="profile-form"
            [formGroup]="profileFormGroup"
            (ngSubmit)="
              updateProfile({ username: _usernameControl.value ?? '' })
            "
          >
            <mat-form-field>
              <mat-label>{{ t('username') }}</mat-label>
              <input
                autocomplete="username"
                formControlName="username"
                matInput
                required
                type="text"
              />
              @if (_usernameControl.value !== null) {
                <button
                  [attr.aria-label]="t('clear')"
                  [disabled]="_usernameControl.disabled"
                  (click)="_usernameControl.reset()"
                  matIconButton
                  matSuffix
                  tabindex="-1"
                  type="button"
                >
                  <mat-icon>close</mat-icon>
                </button>
              }
              @if (_usernameControl.dirty) {
                <mat-hint align="end"
                  >{{
                    t('characters', {
                      maximum: 36,
                      value: _usernameControl.value?.length || 0,
                    })
                  }}
                </mat-hint>
              }
              @if (
                _usernameControl.touched &&
                _usernameControl.errors?.['required']
              ) {
                <mat-error>{{ t('username-is-required') }}</mat-error>
              }
              @if (
                _usernameControl.touched &&
                (_usernameControl.errors?.['maxlength'] ||
                  _usernameControl.errors?.['minlength'] ||
                  _usernameControl.errors?.['pattern'])
              ) {
                <mat-error>{{
                  t('username-validations', {
                    maximum:
                      _usernameControl.errors?.['maxlength'].requiredLength,
                    minimum:
                      _usernameControl.errors?.['minlength'].requiredLength,
                  })
                }}</mat-error>
              }
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            [disabled]="profileFormGroup.disabled || profileFormGroup.invalid"
            [jetAnalytics]="{ name: 'Update profile' }"
            form="profile-form"
            matButton="filled"
            type="submit"
          >
            {{ t('save') }}
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="jet-maxw-480">
        <mat-card-header></mat-card-header>
        <mat-card-content>
          <div class="jet-flex-col-center">
            <a
              [routerLink]="['/update-password']"
              matButton
              >{{ t('update-password') }}</a
            >
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="jet-maxw-480">
        <mat-card-header></mat-card-header>
        <mat-card-content>
          <div
            class="jet-flex-col-center"
            style="font: var(--mat-sys-body-small)"
          >
            <strong>{{ user?.email }}</strong>
            <span>{{
              t('profile-last-updated-on', {
                value: (profile?.updated_at | date: 'medium') ?? '?',
              })
            }}</span>
            <span>{{
              t('profile-created-on', {
                value: (profile?.created_at | date: 'medium') ?? '?',
              })
            }}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </jet-page>
</ng-container>
