@let _nameControl = profileFormGroup.controls.name;
@let _profile = profile();
@let _usernameControl = profileFormGroup.controls.username;

<ng-container *transloco="let t; prefix: 'profile-page'">
  <jet-page
    [seoDescription]="t('seo.description')"
    [seoKeywords]="t('seo.keywords')"
    [seoTitle]="t('seo.title')"
    [toolbarTitle]="t('toolbar-title')"
  >
    <div class="flex flex-col items-center gap-4">
      <mat-card class="w-full max-w-120">
        <img
          height="180"
          mat-card-image
          ngSrc="./media/card.webp"
          priority
          width="480"
          [alt]="t('profile')"
        />
        <mat-card-header />
        <mat-card-content>
          <mat-card
            class="mx-auto -mt-[88.5px] mb-10 h-[132px] w-[132px] rounded-full border-[3px] border-transparent"
            mat-ripple
            [class.cursor-not-allowed]="profileFormGroup.disabled"
            [class.cursor-pointer]="!profileFormGroup.disabled"
            (click)="avatarFileInput.click()"
          >
            <img
              height="128"
              mat-card-image
              priority
              width="128"
              [alt]="t('avatar')"
              [ngSrc]="_profile?.avatar_url ?? './media/placeholder.svg'"
            />
            <mat-card-header />
            <mat-card-content class="hidden">
              <input
                #avatarFileInput
                accept="image/*"
                autocomplete="photo"
                type="file"
                [disabled]="profileFormGroup.disabled"
                [jetAnalyticsEvent]="{ name: 'update_avatar' }"
                (change)="replaceAvatar()"
              />
            </mat-card-content>
            <mat-card-footer />
          </mat-card>
          <form
            class="mb-2"
            [formGroup]="emailFormGroup"
          >
            <mat-form-field>
              <mat-label>{{ t('email') }}</mat-label>
              <input
                autocomplete="email"
                formControlName="email"
                matInput
                readonly
                type="text"
              />
            </mat-form-field>
          </form>
          <form
            id="profile-form"
            [formGroup]="profileFormGroup"
            (ngSubmit)="
              updateProfile({
                name: _nameControl.value?.trim() ?? null,
                username: _usernameControl.value?.trim() ?? '',
              })
            "
          >
            <mat-form-field>
              <mat-label>{{ t('name') }}</mat-label>
              <input
                autocomplete="name"
                formControlName="name"
                matInput
                type="text"
              />
              @if (_nameControl.value !== null) {
                <button
                  matIconButton
                  matSuffix
                  tabindex="-1"
                  type="button"
                  [aria-label]="t('clear')"
                  [disabled]="_nameControl.disabled"
                  (click)="_nameControl.reset()"
                >
                  <mat-icon svgIcon="close-fill" />
                </button>
              }
              @if (_nameControl.dirty) {
                <mat-hint align="end"
                  >{{ t('x-of-y-characters', { x: _nameControl.value?.length || 0, y: 60 }) }}
                </mat-hint>
              }
              @if (_nameControl.touched && _nameControl.errors?.['maxlength']) {
                <mat-error>{{
                  t('name-error-maxlength-x', {
                    x: _nameControl.errors['maxlength'].requiredLength,
                  })
                }}</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ t('username') }}</mat-label>
              <input
                autocomplete="username"
                formControlName="username"
                matInput
                required
                type="text"
              />
              @if (_usernameControl.value !== null) {
                <button
                  matIconButton
                  matSuffix
                  tabindex="-1"
                  type="button"
                  [aria-label]="t('clear')"
                  [disabled]="_usernameControl.disabled"
                  (click)="_usernameControl.reset()"
                >
                  <mat-icon svgIcon="close-fill" />
                </button>
              }
              @if (_usernameControl.dirty) {
                <mat-hint align="end"
                  >{{ t('x-of-y-characters', { x: _usernameControl.value?.length || 0, y: 36 }) }}
                </mat-hint>
              }
              @if (_usernameControl.touched && _usernameControl.errors?.['required']) {
                <mat-error>{{ t('username-error-required') }}</mat-error>
              }
              @if (_usernameControl.touched && _usernameControl.errors?.['maxlength']) {
                <mat-error>{{
                  t('username-error-maxlength-x', {
                    x: _usernameControl.errors['maxlength'].requiredLength,
                  })
                }}</mat-error>
              }
              @if (_usernameControl.touched && _usernameControl.errors?.['minlength']) {
                <mat-error>{{
                  t('username-error-minlength-x', {
                    x: _usernameControl.errors['minlength'].requiredLength,
                  })
                }}</mat-error>
              }
              @if (_usernameControl.touched && _usernameControl.errors?.['pattern']) {
                <mat-error>{{ t('username-error-pattern') }}</mat-error>
              }
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            form="profile-form"
            matButton="filled"
            type="submit"
            [disabled]="profileFormGroup.disabled || profileFormGroup.invalid"
            [jetAnalyticsEvent]="{ name: 'update_profile' }"
          >
            {{ t('save') }}
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="w-full max-w-120">
        <mat-card-content>
          <div class="flex flex-col items-center gap-4">
            <a
              matButton
              [routerLink]="['/update-password']"
              >{{ t('update-password') }}</a
            >
            <a
              matButton
              [routerLink]="['/sign-out']"
              >{{ t('sign-out') }}</a
            >
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="w-full max-w-120">
        <mat-card-content>
          <div class="flex flex-col items-center gap-4">
            <small>{{
              t('profile-last-updated-on-x', { x: (_profile?.updated_at | date: 'medium') })
            }}</small>
            <small>{{
              t('profile-created-on-x', { x: (_profile?.created_at | date: 'medium') })
            }}</small>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </jet-page>
</ng-container>
