<ng-container *transloco="let t">
  <jet-page
    [seoDescription]="t('jet-reset-password-page.seo.description')"
    [seoKeywords]="t('jet-reset-password-page.seo.keywords')"
    [seoTitle]="t('jet-reset-password-page.seo.title')"
    [toolbarTitle]="t('jet-reset-password-page.toolbar-title')"
  >
    <div class="jet-flex-col-center">
      <mat-card class="jet-maxw-480">
        <img
          [alt]="t('jet-reset-password-page.reset-password')"
          [ngSrc]="'./images/card.webp'"
          height="180"
          mat-card-image
          priority
          width="480"
        />
        <mat-card-header></mat-card-header>
        <mat-card-content>
          <form
            id="reset-password-form"
            [formGroup]="resetPasswordFormGroup"
            (ngSubmit)="
              resetPasswordForEmail(
                resetPasswordFormGroup.controls.email.value ?? ''
              )
            "
          >
            <mat-form-field>
              <mat-label>{{ t('jet-reset-password-page.email') }}</mat-label>
              <input
                autocomplete="email"
                formControlName="email"
                matInput
                required
                type="email"
              />
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            [disabled]="
              resetPasswordFormGroup.disabled || resetPasswordFormGroup.invalid
            "
            form="reset-password-form"
            mat-flat-button
            type="submit"
          >
            {{ t('jet-reset-password-page.reset-password') }}
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="jet-maxw-480">
        <mat-card-header></mat-card-header>
        <mat-card-content>
          <div class="jet-flex-col-center">
            <a
              [disabled]="resetPasswordFormGroup.disabled"
              [queryParams]="{
                email: resetPasswordFormGroup.controls.email.value,
              }"
              [routerLink]="['/sign-in']"
              mat-button
              >{{ t('jet-reset-password-page.sign-in') }}</a
            >
            <a
              [disabled]="resetPasswordFormGroup.disabled"
              [queryParams]="{
                email: resetPasswordFormGroup.controls.email.value,
              }"
              [routerLink]="['/sign-up']"
              mat-button
              >{{ t('jet-reset-password-page.sign-up') }}</a
            >
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </jet-page>
</ng-container>
