<ng-container *transloco="let t; prefix: 'jet-reset-password-page'">
  <jet-page
    [seoDescription]="t('seo.description')"
    [seoKeywords]="t('seo.keywords')"
    [seoTitle]="t('seo.title')"
    [toolbarTitle]="t('toolbar-title')"
  >
    <div class="jet-flexc-centered">
      @let _emailControl = resetPasswordFormGroup.controls.email;
      <mat-card class="jet-maxw-480">
        <img
          [alt]="t('reset-password')"
          [ngSrc]="'./images/card.webp'"
          height="180"
          mat-card-image
          priority
          width="480"
        />
        <mat-card-header></mat-card-header>
        <mat-card-content>
          <form
            id="reset-password-form"
            [formGroup]="resetPasswordFormGroup"
            (ngSubmit)="resetPasswordForEmail(_emailControl.value ?? '')"
          >
            <mat-form-field>
              <mat-label>{{ t('email') }}</mat-label>
              <input
                autocomplete="email"
                formControlName="email"
                matInput
                required
                type="email"
              />
              @if (_emailControl.value !== null) {
                <button
                  [attr.aria-label]="t('clear')"
                  [disabled]="_emailControl.disabled"
                  (click)="_emailControl.reset()"
                  matIconButton
                  matSuffix
                  tabindex="-1"
                  type="button"
                >
                  <mat-icon>close</mat-icon>
                </button>
              }
              @if (_emailControl.touched && _emailControl.errors?.['email']) {
                <mat-error>{{ t('enter-a-valid-email') }}</mat-error>
              }
              @if (
                _emailControl.touched && _emailControl.errors?.['required']
              ) {
                <mat-error>{{ t('email-is-required') }}</mat-error>
              }
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            [disabled]="
              resetPasswordFormGroup.disabled || resetPasswordFormGroup.invalid
            "
            form="reset-password-form"
            matButton="filled"
            type="submit"
          >
            {{ t('reset-password') }}
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="jet-maxw-480">
        <mat-card-header></mat-card-header>
        <mat-card-content>
          <div class="jet-flexc-centered">
            <a
              [disabled]="resetPasswordFormGroup.disabled"
              [queryParams]="{ email: _emailControl.value }"
              [routerLink]="['/sign-in']"
              matButton
              >{{ t('sign-in') }}</a
            >
            <a
              [disabled]="resetPasswordFormGroup.disabled"
              [queryParams]="{ email: _emailControl.value }"
              [routerLink]="['/sign-up']"
              matButton
              >{{ t('sign-up') }}</a
            >
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </jet-page>
</ng-container>
