<ng-container *transloco="let t">
  <jet-page
    [seoDescription]="t('jet-reset-password-page.seo.description')"
    [seoKeywords]="t('jet-reset-password-page.seo.keywords')"
    [seoTitle]="t('jet-reset-password-page.seo.title')"
    [toolbarTitle]="t('jet-reset-password-page.toolbar-title')"
  >
    <div class="jet-flex-col-centered">
      <mat-card style="width: 100%; max-width: 480px">
        <img
          [alt]="t('jet-reset-password-page.reset-password')"
          height="180"
          mat-card-image
          ngSrc="./card.webp"
          priority
          width="480"
        />
        <mat-card-content>
          <form
            id="reset-password-form"
            [formGroup]="resetPasswordFormGroup"
            (ngSubmit)="
              resetPasswordForEmail(
                resetPasswordFormGroup.controls.email.value ?? ''
              )
            "
          >
            <mat-form-field>
              <mat-label>{{ t('jet-reset-password-page.email') }}</mat-label>
              <input
                autocomplete="email"
                formControlName="email"
                matInput
                required
                type="email"
              />
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            [disabled]="
              resetPasswordFormGroup.disabled || resetPasswordFormGroup.invalid
            "
            form="reset-password-form"
            mat-flat-button
            type="submit"
          >
            <mat-icon>lock_reset</mat-icon>
            <span>{{ t('jet-reset-password-page.reset-password') }}</span>
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card style="width: 100%; max-width: 480px">
        <mat-card-content>
          <div class="jet-flex-col-centered">
            <a
              [disabled]="resetPasswordFormGroup.disabled"
              [queryParams]="{
                email: resetPasswordFormGroup.controls.email.value,
              }"
              mat-button
              routerLink="/sign-in"
            >
              <mat-icon>login</mat-icon>
              <span>{{ t('jet-reset-password-page.sign-in') }}</span>
            </a>
            <a
              [disabled]="resetPasswordFormGroup.disabled"
              [queryParams]="{
                email: resetPasswordFormGroup.controls.email.value,
              }"
              mat-button
              routerLink="/sign-up"
            >
              <mat-icon>right_click</mat-icon>
              <span>{{ t('jet-reset-password-page.sign-up') }}</span>
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </jet-page>
</ng-container>
