<ng-container *transloco="let t; prefix: 'jet-update-password-page'">
  <jet-page
    [seoDescription]="t('seo.description')"
    [seoKeywords]="t('seo.keywords')"
    [seoTitle]="t('seo.title')"
    [toolbarTitle]="t('toolbar-title')"
  >
    <div class="jet-centered-container">
      <mat-card>
        <img
          [alt]="t('update-password')"
          height="180"
          mat-card-image
          ngSrc="./card.webp"
          priority
          width="480"
        />
        <mat-card-content>
          <form
            id="update-password-form"
            [formGroup]="updatePasswordFormGroup"
            (ngSubmit)="
              updatePassword(
                updatePasswordFormGroup.controls.password.value ?? ''
              )
            "
          >
            <mat-form-field>
              <mat-label>{{ t('password') }}</mat-label>
              <input
                [type]="isPasswordHidden ? 'password' : 'text'"
                autocomplete="new-password"
                formControlName="password"
                matInput
                required
              />
              <button
                [disabled]="updatePasswordFormGroup.controls.password.disabled"
                [matTooltip]="t('toggle-visibility')"
                (click)="isPasswordHidden = !isPasswordHidden"
                mat-icon-button
                matSuffix
                tabindex="-1"
                type="button"
              >
                <mat-icon>{{
                  isPasswordHidden ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ t('confirm-password') }}</mat-label>
              <input
                [type]="isConfirmPasswordHidden ? 'password' : 'text'"
                autocomplete="new-password"
                formControlName="confirmPassword"
                matInput
                required
              />
              <button
                [disabled]="
                  updatePasswordFormGroup.controls.confirmPassword.disabled
                "
                [matTooltip]="t('toggle-visibility')"
                (click)="isConfirmPasswordHidden = !isConfirmPasswordHidden"
                mat-icon-button
                matSuffix
                tabindex="-1"
                type="button"
              >
                <mat-icon>{{
                  isConfirmPasswordHidden ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </button>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            [disabled]="
              isUpdatePasswordPending || updatePasswordFormGroup.invalid
            "
            form="update-password-form"
            mat-flat-button
            type="submit"
          >
            <mat-icon>check</mat-icon>
            <span>{{ t('update-password') }}</span>
          </button>
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar
            [ngStyle]="{
              visibility: isUpdatePasswordPending ? 'visible' : 'hidden',
            }"
            mode="indeterminate"
          ></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>
  </jet-page>
</ng-container>
