<ng-container *transloco="let t">
  <jet-page
    [seoDescription]="t('jet-update-password-page.seo.description')"
    [seoKeywords]="t('jet-update-password-page.seo.keywords')"
    [seoTitle]="t('jet-update-password-page.seo.title')"
    [toolbarTitle]="t('jet-update-password-page.toolbar-title')"
  >
    <div class="jet-flex-col-center">
      <mat-card class="jet-maxw-480">
        <img
          [alt]="t('jet-update-password-page.update-password')"
          height="180"
          mat-card-image
          ngSrc="./card.webp"
          priority
          width="480"
        />
        <mat-card-header></mat-card-header>
        <mat-card-content>
          <form
            id="update-password-form"
            [formGroup]="updatePasswordFormGroup"
            (ngSubmit)="
              updatePassword(
                updatePasswordFormGroup.controls.newPassword.value ?? ''
              )
            "
          >
            <mat-form-field>
              <mat-label>{{
                t('jet-update-password-page.new-password')
              }}</mat-label>
              <input
                [type]="isNewPasswordHidden ? 'password' : 'text'"
                autocomplete="new-password"
                formControlName="newPassword"
                matInput
                required
              />
              <button
                [disabled]="
                  updatePasswordFormGroup.controls.newPassword.disabled
                "
                [matTooltip]="t('jet-update-password-page.toggle-visibility')"
                (click)="isNewPasswordHidden = !isNewPasswordHidden"
                mat-icon-button
                matSuffix
                tabindex="-1"
                type="button"
              >
                <mat-icon>{{
                  isNewPasswordHidden ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{
                t('jet-update-password-page.confirm-new-password')
              }}</mat-label>
              <input
                [type]="isConfirmNewPasswordHidden ? 'password' : 'text'"
                autocomplete="new-password"
                formControlName="confirmNewPassword"
                matInput
                required
              />
              <button
                [disabled]="
                  updatePasswordFormGroup.controls.confirmNewPassword.disabled
                "
                [matTooltip]="t('jet-update-password-page.toggle-visibility')"
                (click)="
                  isConfirmNewPasswordHidden = !isConfirmNewPasswordHidden
                "
                mat-icon-button
                matSuffix
                tabindex="-1"
                type="button"
              >
                <mat-icon>{{
                  isConfirmNewPasswordHidden ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </button>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            [disabled]="
              updatePasswordFormGroup.disabled ||
              updatePasswordFormGroup.invalid
            "
            form="update-password-form"
            mat-flat-button
            type="submit"
          >
            <mat-icon>check</mat-icon>
            <span>{{ t('jet-update-password-page.update-password') }}</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </jet-page>
</ng-container>
