<ng-container *transloco="let t">
  <jet-page
    [seoDescription]="t('jet-update-password-page.seo.description')"
    [seoKeywords]="t('jet-update-password-page.seo.keywords')"
    [seoTitle]="t('jet-update-password-page.seo.title')"
    [toolbarTitle]="t('jet-update-password-page.toolbar-title')"
  >
    <div class="jet-flex-col-center">
      <mat-card class="jet-maxw-480">
        <img
          [alt]="t('jet-update-password-page.update-password')"
          [ngSrc]="'./images/card.webp'"
          height="180"
          mat-card-image
          priority
          width="480"
        />
        <mat-card-header></mat-card-header>
        <mat-card-content>
          <form
            id="update-password-form"
            (ngSubmit)="
              updatePassword(
                updatePasswordFormGroup.controls.newPassword.value ?? ''
              )
            "
            [formGroup]="updatePasswordFormGroup"
          >
            <mat-form-field>
              <mat-label
                >{{ t('jet-update-password-page.new-password') }}</mat-label
              >
              <input
                [type]="isNewPasswordHidden ? 'password' : 'text'"
                autocomplete="new-password"
                formControlName="newPassword"
                matInput
                required
              />
              <button
                (click)="isNewPasswordHidden = !isNewPasswordHidden"
                [attr.aria-label]="
                  t('jet-update-password-page.toggle-visibility')
                "
                [disabled]="
                  updatePasswordFormGroup.controls.newPassword.disabled
                "
                matIconButton
                matSuffix
                type="button"
              >
                <mat-icon
                  >{{ isNewPasswordHidden ? 'visibility' : 'visibility_off'
                  }}</mat-icon
                >
              </button>
            </mat-form-field>
            <mat-form-field>
              <mat-label
                >{{ t('jet-update-password-page.confirm-new-password')
                }}</mat-label
              >
              <input
                [type]="isConfirmNewPasswordHidden ? 'password' : 'text'"
                autocomplete="new-password"
                formControlName="confirmNewPassword"
                matInput
                required
              />
              <button
                (click)="
                  isConfirmNewPasswordHidden = !isConfirmNewPasswordHidden
                "
                [attr.aria-label]="
                  t('jet-update-password-page.toggle-visibility')
                "
                [disabled]="
                  updatePasswordFormGroup.controls.confirmNewPassword.disabled
                "
                matIconButton
                matSuffix
                type="button"
              >
                <mat-icon
                  >{{ isConfirmNewPasswordHidden ? 'visibility' :
                  'visibility_off' }}</mat-icon
                >
              </button>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            [disabled]="
              updatePasswordFormGroup.disabled ||
              updatePasswordFormGroup.invalid
            "
            form="update-password-form"
            mat-flat-button
            type="submit"
          >
            {{ t('jet-update-password-page.save') }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </jet-page>
</ng-container>
