@let _confirmNewPasswordControl =
  updatePasswordFormGroup.controls.confirmNewPassword;
@let _newPasswordControl = updatePasswordFormGroup.controls.newPassword;

<ng-container *transloco="let t; prefix: 'jet-update-password-page'">
  <jet-page
    [seoDescription]="t('seo.description')"
    [seoKeywords]="t('seo.keywords')"
    [seoTitle]="t('seo.title')"
    [toolbarTitle]="t('toolbar-title')"
  >
    <div class="jet-flexc-centered">
      <mat-card class="jet-maxw-480">
        <img
          [alt]="t('update-password')"
          [ngSrc]="'./images/card.webp'"
          height="180"
          mat-card-image
          priority
          width="480"
        />
        <mat-card-header></mat-card-header>
        <mat-card-content>
          <form
            id="update-password-form"
            [formGroup]="updatePasswordFormGroup"
            (ngSubmit)="updatePassword(_newPasswordControl.value ?? '')"
          >
            <mat-form-field>
              <mat-label>{{ t('email') }}</mat-label>
              <input
                autocomplete="email"
                formControlName="email"
                matInput
                readonly
                type="text"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ t('new-password') }}</mat-label>
              <input
                [type]="isNewPasswordHidden ? 'password' : 'text'"
                autocomplete="new-password"
                formControlName="newPassword"
                matInput
                required
              />
              <button
                [aria-label]="t('toggle-visibility')"
                [disabled]="_newPasswordControl.disabled"
                (click)="isNewPasswordHidden = !isNewPasswordHidden"
                matIconButton
                matSuffix
                tabIndex="-1"
                type="button"
              >
                <mat-icon>{{
                  isNewPasswordHidden ? 'visibility' : 'visibility_off'
                }}</mat-icon>
              </button>
              @if (
                _newPasswordControl.touched &&
                _newPasswordControl.errors?.['minlength']
              ) {
                <mat-error>{{
                  t('password-length', {
                    minimum:
                      _newPasswordControl.errors?.['minlength'].requiredLength,
                  })
                }}</mat-error>
              }
              @if (
                _newPasswordControl.touched &&
                _newPasswordControl.errors?.['required']
              ) {
                <mat-error>{{ t('password-is-required') }}</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ t('confirm-new-password') }}</mat-label>
              <input
                [type]="isConfirmNewPasswordHidden ? 'password' : 'text'"
                autocomplete="new-password"
                formControlName="confirmNewPassword"
                matInput
                required
              />
              <button
                [aria-label]="t('toggle-visibility')"
                [disabled]="_confirmNewPasswordControl.disabled"
                (click)="
                  isConfirmNewPasswordHidden = !isConfirmNewPasswordHidden
                "
                matIconButton
                matSuffix
                tabIndex="-1"
                type="button"
              >
                <mat-icon>{{
                  isConfirmNewPasswordHidden ? 'visibility' : 'visibility_off'
                }}</mat-icon>
              </button>
              @if (
                _confirmNewPasswordControl.touched &&
                _confirmNewPasswordControl.errors?.['minlength']
              ) {
                <mat-error>{{
                  t('password-length', {
                    minimum:
                      _confirmNewPasswordControl.errors?.['minlength']
                        .requiredLength,
                  })
                }}</mat-error>
              }
              @if (
                _confirmNewPasswordControl.touched &&
                !_confirmNewPasswordControl.errors?.['minlength'] &&
                _confirmNewPasswordControl.errors?.['mismatch']
              ) {
                <mat-error>{{ t('passwords-dont-match') }}</mat-error>
              }
              @if (
                _confirmNewPasswordControl.touched &&
                _confirmNewPasswordControl.errors?.['required']
              ) {
                <mat-error>{{ t('password-is-required') }}</mat-error>
              }
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            [disabled]="
              updatePasswordFormGroup.disabled ||
              updatePasswordFormGroup.invalid
            "
            form="update-password-form"
            matButton="filled"
            type="submit"
          >
            {{ t('save') }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </jet-page>
</ng-container>
