<ng-container *transloco="let t">
  <jet-page
    [seoDescription]="t('jet-settings-page.seo.description')"
    [seoKeywords]="t('jet-settings-page.seo.keywords')"
    [seoTitle]="t('jet-settings-page.seo.title')"
    [toolbarTitle]="t('jet-settings-page.toolbar-title')"
  >
    <mat-card>
      <mat-card-content>
        <mat-action-list>
          <button
            [jetAnalyticsEventName]="'Open Language Options'"
            [mat-menu-trigger-for]="languageOptionsMenu"
            jetAnalytics
            mat-list-item
            type="button"
          >
            <mat-icon matListItemIcon>language</mat-icon>
            <span matListItemTitle>{{
              t('jet-settings-page.change-language')
            }}</span>
            <span matListItemLine>{{
              t(settings().languageOption.nameKey)
            }}</span>
          </button>
          <button
            [jetAnalyticsEventName]="'Open Color Scheme Options'"
            [mat-menu-trigger-for]="colorSchemeOptionsMenu"
            jetAnalytics
            mat-list-item
            type="button"
          >
            <mat-icon matListItemIcon>palette</mat-icon>
            <span matListItemTitle>{{
              t('jet-settings-page.change-color-scheme')
            }}</span>
            <span matListItemLine>{{
              t(settings().colorSchemeOption.nameKey)
            }}</span>
          </button>
          <button
            [jetAnalyticsEventName]="'Check for Updates'"
            (click)="checkForUpdate()"
            jetAnalytics
            mat-list-item
            type="button"
          >
            <mat-icon matListItemIcon>sync</mat-icon>
            <span matListItemTitle>{{
              t('jet-settings-page.check-for-updates')
            }}</span>
            <span matListItemLine
              >{{ t('jet-settings-page.last-checked') }}
              {{ lastUpdateCheckTimestamp() | date: 'medium' }}</span
            >
          </button>
          <button
            [jetAnalyticsEventName]="'Reload'"
            (click)="reload()"
            jetAnalytics
            mat-list-item
            type="button"
          >
            <mat-icon matListItemIcon>refresh</mat-icon>
            <span matListItemTitle>{{ t('jet-settings-page.reload') }}</span>
            <span matListItemLine>{{
              t('jet-settings-page.reload-description')
            }}</span>
          </button>
          <button
            [jetAnalyticsEventName]="'Reset'"
            (click)="reset()"
            jetAnalytics
            mat-list-item
            type="button"
          >
            <mat-icon matListItemIcon>restart_alt</mat-icon>
            <span matListItemTitle>{{ t('jet-settings-page.reset') }}</span>
            <span matListItemLine>{{
              t('jet-settings-page.reset-description')
            }}</span>
          </button>
        </mat-action-list>
      </mat-card-content>
    </mat-card>
    <p style="font: var(--mat-sys-body-small); text-align: center">
      {{ t('jet-settings-page.version', { value: version }) }}
    </p>
    <mat-menu
      #languageOptionsMenu="matMenu"
      xPosition="before"
    >
      @for (languageOption of languageOptions; track languageOption.value) {
        <button
          [disabled]="settings().languageOption.value === languageOption.value"
          [jetAnalyticsEventData]="{ languageOption: languageOption.value }"
          [jetAnalyticsEventName]="'Select Language Option'"
          (click)="updateSettings({ languageOption })"
          jetAnalytics
          mat-menu-item
          type="button"
        >
          <mat-icon>{{ languageOption.icon }}</mat-icon>
          <span>{{ t(languageOption.nameKey) }}</span>
        </button>
      }
    </mat-menu>
    <mat-menu
      #colorSchemeOptionsMenu="matMenu"
      xPosition="before"
    >
      @for (
        colorSchemeOption of colorSchemeOptions;
        track colorSchemeOption.value
      ) {
        <button
          [disabled]="
            settings().colorSchemeOption.value === colorSchemeOption.value
          "
          [jetAnalyticsEventData]="{
            colorSchemeOption: colorSchemeOption.value,
          }"
          [jetAnalyticsEventName]="'Select Color Scheme Option'"
          (click)="updateSettings({ colorSchemeOption })"
          jetAnalytics
          mat-menu-item
          type="button"
        >
          <mat-icon>{{ colorSchemeOption.icon }}</mat-icon>
          <span>{{ t(colorSchemeOption.nameKey) }}</span>
        </button>
      }
    </mat-menu>
  </jet-page>
</ng-container>
