<ng-container *transloco="let t; prefix: 'jet-settings-page'">
  <jet-page
    [seoDescription]="t('seo.description')"
    [seoKeywords]="t('seo.keywords')"
    [seoTitle]="t('seo.title')"
    [toolbarTitle]="t('toolbar-title')"
  >
    <mat-card>
      <mat-card-content>
        <mat-action-list>
          <button
            [matMenuTriggerFor]="languageMenu"
            jetAnalytics
            jetAnalyticsEventName="Open Language Options"
            mat-list-item
            type="button"
          >
            <mat-icon matListItemIcon>translate</mat-icon>
            <span matListItemTitle>{{ t('change-language') }}</span>
            <span matListItemLine>{{
              t(settings().languageOption.nameKey)
            }}</span>
          </button>
          <button
            [matMenuTriggerFor]="themeMenu"
            jetAnalytics
            jetAnalyticsEventName="Open Theme Options"
            mat-list-item
            type="button"
          >
            <mat-icon matListItemIcon>palette</mat-icon>
            <span matListItemTitle>{{ t('change-theme') }}</span>
            <span matListItemLine>{{ t(settings().themeOption.nameKey) }}</span>
          </button>
          <button
            (click)="checkForUpdate()"
            jetAnalytics
            jetAnalyticsEventName="Check for Updates"
            mat-list-item
            type="button"
          >
            <mat-icon matListItemIcon>sync</mat-icon>
            <span matListItemTitle>{{ t('check-for-updates') }}</span>
            <span matListItemLine
              >{{ t('last-checked') }}
              {{ lastUpdateCheckTimestamp() | date: 'medium' }}</span
            >
          </button>
          <button
            (click)="reload()"
            jetAnalytics
            jetAnalyticsEventName="Reload"
            mat-list-item
            type="button"
          >
            <mat-icon matListItemIcon>refresh</mat-icon>
            <span matListItemTitle>{{ t('reload') }}</span>
            <span matListItemLine>{{ t('reload-description') }}</span>
          </button>
          <button
            (click)="reset()"
            jetAnalytics
            jetAnalyticsEventName="Reset"
            mat-list-item
            type="button"
          >
            <mat-icon matListItemIcon>restart_alt</mat-icon>
            <span matListItemTitle>{{ t('reset') }}</span>
            <span matListItemLine>{{ t('reset-description') }}</span>
          </button>
        </mat-action-list>
      </mat-card-content>
    </mat-card>
    <pre style="text-align: center">{{ t('version', { value: version }) }}</pre>
    <mat-menu
      #languageMenu="matMenu"
      xPosition="before"
    >
      @for (languageOption of languageOptions; track languageOption.value) {
        <button
          [disabled]="settings().languageOption.value === languageOption.value"
          [jetAnalyticsEventData]="languageOption.value"
          (click)="updateSettings({ languageOption })"
          jetAnalytics
          jetAnalyticsEventName="Select Language Option"
          mat-menu-item
          type="button"
        >
          <mat-icon>{{ languageOption.icon }}</mat-icon>
          <span>{{ t(languageOption.nameKey) }}</span>
        </button>
      }
    </mat-menu>
    <mat-menu
      #themeMenu="matMenu"
      xPosition="before"
    >
      @for (themeOption of themeOptions; track themeOption.value) {
        <button
          [disabled]="settings().themeOption.value === themeOption.value"
          [jetAnalyticsEventData]="themeOption.value"
          (click)="updateSettings({ themeOption })"
          jetAnalytics
          jetAnalyticsEventName="Select Theme Option"
          mat-menu-item
          type="button"
        >
          <mat-icon>{{ themeOption.icon }}</mat-icon>
          <span>{{ t(themeOption.nameKey) }}</span>
        </button>
      }
    </mat-menu>
  </jet-page>
</ng-container>
