<ng-container *transloco="let t">
  <jet-page
    [seoDescription]="t('jet-sign-in-page.seo.description')"
    [seoKeywords]="t('jet-sign-in-page.seo.keywords')"
    [seoTitle]="t('jet-sign-in-page.seo.title')"
    [toolbarTitle]="t('jet-sign-in-page.toolbar-title')"
  >
    <div class="jet-flex-col-center">
      @let _returnUrl = returnUrl() ?? '/'; @if (_returnUrl !== '/') {
      <span style="font: var(--mat-sys-headline-medium)"
        >{{ t('jet-sign-in-page.sign-in-to-continue', { returnUrl: _returnUrl })
        }}</span
      >
      }
      <mat-card class="jet-maxw-480">
        <img
          [alt]="t('jet-sign-in-page.sign-in')"
          [ngSrc]="'./images/card.webp'"
          height="180"
          mat-card-image
          priority
          width="480"
        />
        <mat-card-header></mat-card-header>
        <mat-card-content>
          <div class="jet-flex-col-center">
            <button
              (click)="signInWithOauth('google')"
              [disabled]="signInFormGroup.disabled"
              mat-button
              type="button"
            >
              {{ t('jet-sign-in-page.sign-in-with-google') }}
            </button>
          </div>
          <p style="text-align: center">{{ t('jet-sign-in-page.or') }}</p>
          <form
            id="sign-in-form"
            (ngSubmit)="
              signInWithPassword(
                signInFormGroup.controls.email.value ?? '',
                signInFormGroup.controls.password.value ?? ''
              )
            "
            [formGroup]="signInFormGroup"
          >
            <mat-form-field>
              <mat-label>{{ t('jet-sign-in-page.email') }}</mat-label>
              <input
                autocomplete="email"
                formControlName="email"
                matInput
                required
                type="email"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ t('jet-sign-in-page.password') }}</mat-label>
              <input
                [type]="isPasswordHidden ? 'password' : 'text'"
                autocomplete="current-password"
                formControlName="password"
                matInput
                required
              />
              <button
                (click)="isPasswordHidden = !isPasswordHidden"
                [attr.aria-label]="t('jet-sign-in-page.toggle-visibility')"
                [disabled]="signInFormGroup.controls.password.disabled"
                mat-icon-button
                matSuffix
                type="button"
              >
                <mat-icon
                  >{{ isPasswordHidden ? 'visibility' : 'visibility_off'
                  }}</mat-icon
                >
              </button>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            [disabled]="signInFormGroup.disabled || signInFormGroup.invalid"
            form="sign-in-form"
            mat-flat-button
            type="submit"
          >
            {{ t('jet-sign-in-page.sign-in') }}
          </button>
          <button
            (click)="signInWithOtp(signInFormGroup.controls.email.value ?? '')"
            [disabled]="
              signInFormGroup.disabled || signInFormGroup.controls.email.invalid
            "
            mat-button
            type="button"
          >
            {{ t('jet-sign-in-page.email-me-a-link-to-sign-in') }}
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="jet-maxw-480">
        <mat-card-header></mat-card-header>
        <mat-card-content>
          <div class="jet-flex-col-center">
            <a
              [disabled]="signInFormGroup.disabled"
              [queryParams]="{ email: signInFormGroup.controls.email.value }"
              [routerLink]="['/reset-password']"
              mat-button
              >{{ t('jet-sign-in-page.reset-password') }}</a
            >
            <a
              [disabled]="signInFormGroup.disabled"
              [queryParams]="{ email: signInFormGroup.controls.email.value }"
              [routerLink]="['/sign-up']"
              mat-button
              >{{ t('jet-sign-in-page.sign-up') }}</a
            >
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </jet-page>
</ng-container>
