<ng-container *transloco="let t; prefix: 'jet-sign-in-page'">
  <jet-page
    [seoDescription]="t('seo.description')"
    [seoKeywords]="t('seo.keywords')"
    [seoTitle]="t('seo.title')"
    [toolbarTitle]="t('toolbar-title')"
  >
    <div class="jet-centered-container">
      <mat-card>
        <img
          [alt]="t('sign-in')"
          height="180"
          mat-card-image
          ngSrc="./card.webp"
          priority
          width="480"
        />
        <mat-card-content>
          <div class="jet-stacked-container">
            <button
              [disabled]="
                isGetSessionPending ||
                isSignInWithOauthPending ||
                isSignInWithOtpPending ||
                isSignInWithPasswordPending
              "
              (click)="signInWithOauth('google')"
              mat-button
              type="button"
            >
              <mat-icon>open_in_new</mat-icon>
              <span>{{ t('sign-in-with-google') }}</span>
            </button>
            <button
              [disabled]="
                isGetSessionPending ||
                isSignInWithOauthPending ||
                isSignInWithOtpPending ||
                isSignInWithPasswordPending
              "
              (click)="signInWithOauth('facebook')"
              mat-button
              type="button"
            >
              <mat-icon>open_in_new</mat-icon>
              <span>{{ t('sign-in-with-facebook') }}</span>
            </button>
          </div>
          <p style="color: var(--mat-sys-outline-variant); text-align: center">
            {{ t('or') }}
          </p>
          <form
            id="sign-in-form"
            [formGroup]="signInFormGroup"
            (ngSubmit)="
              signInWithPassword(
                signInFormGroup.controls.email.value ?? '',
                signInFormGroup.controls.password.value ?? ''
              )
            "
          >
            <mat-form-field>
              <mat-label>{{ t('email') }}</mat-label>
              <input
                autocomplete="email"
                formControlName="email"
                matInput
                required
                type="email"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ t('password') }}</mat-label>
              <input
                [type]="isPasswordHidden ? 'password' : 'text'"
                autocomplete="current-password"
                formControlName="password"
                matInput
                required
              />
              <button
                [disabled]="signInFormGroup.controls.password.disabled"
                [matTooltip]="t('toggle-visibility')"
                (click)="isPasswordHidden = !isPasswordHidden"
                mat-icon-button
                matSuffix
                tabindex="-1"
                type="button"
              >
                <mat-icon>{{
                  isPasswordHidden ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </button>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            [disabled]="
              isGetSessionPending ||
              isSignInWithOauthPending ||
              isSignInWithOtpPending ||
              isSignInWithPasswordPending ||
              signInFormGroup.invalid
            "
            form="sign-in-form"
            mat-flat-button
            type="submit"
          >
            <mat-icon>login</mat-icon>
            <span>{{ t('sign-in') }}</span>
          </button>
          <div style="flex: 1"></div>
          <button
            [disabled]="
              isGetSessionPending ||
              isSignInWithOauthPending ||
              isSignInWithOtpPending ||
              isSignInWithPasswordPending ||
              signInFormGroup.controls.email.invalid
            "
            (click)="signInWithOtp(signInFormGroup.controls.email.value ?? '')"
            form="sign-in-form"
            mat-button
            type="button"
          >
            <mat-icon>link</mat-icon>
            <span>{{ t('email-me-a-link-to-sign-in') }}</span>
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <div class="jet-stacked-container">
            <a
              [disabled]="
                isGetSessionPending ||
                isSignInWithOauthPending ||
                isSignInWithOtpPending ||
                isSignInWithPasswordPending
              "
              [queryParams]="{ email: signInFormGroup.controls.email.value }"
              mat-button
              routerLink="/reset-password"
            >
              <mat-icon>lock_reset</mat-icon>
              <span>{{ t('reset-password') }}</span>
            </a>
            <a
              [queryParams]="{ email: signInFormGroup.controls.email.value }"
              mat-button
              routerLink="/sign-up"
            >
              <mat-icon>right_click</mat-icon>
              <span>{{ t('sign-up') }}</span>
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </jet-page>
</ng-container>
