<ng-container *transloco="let t; prefix: 'jet-message-page'">
  <jet-page
    [seoDescription]="t('seo.description')"
    [seoKeywords]="t('seo.keywords')"
    [seoTitle]="t('seo.title')"
    [toolbarTitle]="t('toolbar-title')"
  >
    <div class="jet-centered-container">
      <mat-card>
        <img
          [alt]="t('message')"
          height="180"
          mat-card-image
          ngSrc="./card.webp"
          priority
          width="480"
        />
        <mat-card-content>
          @switch (case) {
            @case ('email-verification-pending') {
              <p style="font: var(--mat-sys-headline-small)">
                {{ t('email-verification-pending') }}
              </p>
              <p>{{ t('weve-sent-an-email') }}</p>
            }
            @case ('reset-password-email-sent') {
              <p style="font: var(--mat-sys-headline-small)">
                {{ t('reset-password-email-sent') }}
              </p>
              <span>{{ t('sign-in-and-update-password') }}</span>
            }
          }
        </mat-card-content>
      </mat-card>
    </div>
  </jet-page>
</ng-container>
