<ng-container *transloco="let t; prefix: 'jet-message-page'">
  <jet-page
    [seoDescription]="t('seo.description')"
    [seoKeywords]="t('seo.keywords')"
    [seoTitle]="t('seo.title')"
    [toolbarTitle]="t('toolbar-title')"
  >
    <div class="jet-flexc-centered">
      <mat-card class="jet-maxw-480">
        <img
          [alt]="t('message')"
          [ngSrc]="'./images/card.webp'"
          height="180"
          mat-card-image
          priority
          width="480"
        />
        @let _case = case();
        @switch (_case) {
          @case ('email-verification-pending') {
            <mat-card-header>
              <mat-card-title>{{
                t('verification-email-sent')
              }}</mat-card-title>
              <mat-card-subtitle>
                <p>{{ t('click-to-verify') }}</p>
              </mat-card-subtitle>
            </mat-card-header>
          }
          @case ('not-found') {
            <mat-card-header>
              <mat-card-title>{{ t('not-found') }}</mat-card-title>
              <mat-card-subtitle>
                <p>{{ t('page-doesnt-exist') }}</p>
              </mat-card-subtitle>
            </mat-card-header>
          }
          @case ('reset-password-email-sent') {
            <mat-card-header>
              <mat-card-title>{{ t('well-email-you') }}</mat-card-title>
              <mat-card-subtitle>
                <p>{{ t('sign-in-and-update-password') }}</p>
              </mat-card-subtitle>
            </mat-card-header>
          }
          @case ('sign-in-link-sent') {
            <mat-card-header>
              <mat-card-title>{{ t('sign-in-link-sent') }}</mat-card-title>
              <mat-card-subtitle>
                <p>{{ t('click-to-sign-in') }}</p>
              </mat-card-subtitle>
            </mat-card-header>
          }
        }
        <mat-card-content></mat-card-content>
        <mat-card-actions>
          <a
            [routerLink]="['/']"
            matButton="filled"
            >{{ t('open-home') }}</a
          >
        </mat-card-actions>
      </mat-card>
    </div>
  </jet-page>
</ng-container>
