@let _isLargeViewport = isLargeViewport();
@let _progressBarConfiguration = progressBarConfiguration();
@let _shouldAddSafeArea = shouldAddSafeArea();
@let _toolbarTitle = toolbarTitle();
@let _user = user();

<ng-container *transloco="let t; prefix: 'jet-toolbar'">
  <mat-toolbar
    [class]="{
      'jet-add-safe-area': _shouldAddSafeArea,
      'jet-sidenav-content-toolbar': true,
    }"
  >
    <mat-progress-bar
      class="jet-progress-bar"
      [attr.aria-label]="t('loading')"
      [bufferValue]="_progressBarConfiguration.bufferValue"
      [mode]="_progressBarConfiguration.mode"
      [style]="{ opacity: _progressBarConfiguration.isVisible ? 1 : 0 }"
      [value]="_progressBarConfiguration.value"
    >
    </mat-progress-bar>
    @if (_isLargeViewport) {
      <button
        [attr.aria-label]="t('toggle-navigation-menu')"
        [jetAnalytics]="{ name: 'Toggle sidenav' }"
        [matTooltip]="t('toggle-navigation-menu')"
        (click)="toggleMatSidenav.emit()"
        matIconButton
        matTooltipPosition="after"
        type="button"
      >
        <mat-icon>short_text</mat-icon>
      </button>
    } @else {
      <a
        [attr.aria-label]="t('home')"
        [jetAnalytics]="{ name: 'Open home' }"
        [matTooltip]="t('home')"
        [routerLink]="['/']"
        matIconButton
        matTooltipPosition="after"
      >
        <mat-icon svgIcon="jet"></mat-icon>
      </a>
    }
    <span style="font: var(--mat-sys-headline-small)">{{
      _toolbarTitle || t('loading')
    }}</span>
    <div style="flex: 1"></div>
    @if (_user !== null) {
      <a
        [attr.aria-label]="t('sign-out')"
        [matTooltip]="t('sign-out')"
        [routerLink]="['/sign-out']"
        matIconButton
        matTooltipPosition="before"
      >
        <mat-icon>logout</mat-icon>
      </a>
    } @else {
      <a
        [attr.aria-label]="t('sign-in')"
        [matTooltip]="t('sign-in')"
        [routerLink]="['/sign-in']"
        matIconButton
        matTooltipPosition="before"
      >
        <mat-icon>login</mat-icon>
      </a>
    }
  </mat-toolbar>
</ng-container>
