@use '@angular/material' as mat;
@use 'sass:map';

@include mat.core();

// Fonts
$font-default: ('Noto Sans', sans-serif);
$font-noto-sans-arabic: ('Noto Sans Arabic', 'Noto Sans', sans-serif);

// Material 2 Default Typography
$typography-default: mat.define-typography-config(
  $font-family: $font-default,
);

// Material 3 Default Typography
// $typography-default: (
//   plain-family: $font-default,
//   brand-family: $font-default,
// );

// Material 2 Additional Typography
$typography-noto-sans-arabic: mat.define-typography-config(
  $font-family: $font-noto-sans-arabic,
);

// Material 3 Additional Typography
// $typography-noto-sans-arabic: (
//   plain-family: $font-noto-sans-arabic,
//   brand-family: $font-noto-sans-arabic,
// );

// Material 2 Palettes
$palette-brown: mat.define-palette(
  (
    50: #eeebe9,
    100: #d5ccc9,
    200: #baaba5,
    300: #9e8980,
    400: #896f65,
    500: #74564a,
    600: #6c4f43,
    700: #61453a,
    800: #573c32,
    900: #442b22,
    A100: #ffa98b,
    A200: #ff8358,
    A400: #ff5d25,
    A700: #ff4a0b,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #ffffff,
    ),
  ),
  500
);

// Material 3 Palettes
// $_palettes: (
//   primary: (
//     0: #000000,
//     10: #2b160d,
//     20: #432a20,
//     25: #4f352b,
//     30: #5c4035,
//     35: #694c40,
//     40: #76584b,
//     50: #907063,
//     60: #ac897b,
//     70: #c8a395,
//     80: #e5beaf,
//     90: #ffdbcd,
//     95: #ffede7,
//     98: #fff8f6,
//     99: #fffbff,
//     100: #ffffff,
//   ),
//   secondary: (
//     0: #000000,
//     10: #241915,
//     20: #3a2e29,
//     25: #463833,
//     30: #52443e,
//     35: #5e4f49,
//     40: #6b5b55,
//     50: #85736d,
//     60: #9f8d86,
//     70: #bba7a0,
//     80: #d7c2bb,
//     90: #f4ded6,
//     95: #ffede7,
//     98: #fff8f6,
//     99: #fffbff,
//     100: #ffffff,
//   ),
//   tertiary: (
//     0: #000000,
//     10: #261a00,
//     20: #3f2e00,
//     25: #4d3800,
//     30: #5b4300,
//     35: #6a4e00,
//     40: #785900,
//     50: #977100,
//     60: #b78a00,
//     70: #d8a300,
//     80: #fabd00,
//     90: #ffdf9e,
//     95: #ffefd4,
//     98: #fff8f2,
//     99: #fffbff,
//     100: #ffffff,
//   ),
//   neutral: (
//     0: #000000,
//     10: #1e1b1a,
//     20: #33302e,
//     25: #3f3a39,
//     30: #4a4644,
//     35: #565150,
//     40: #625d5c,
//     50: #7b7674,
//     60: #958f8e,
//     70: #b0aaa8,
//     80: #ccc5c3,
//     90: #e9e1df,
//     95: #f7efed,
//     98: #fff8f6,
//     99: #fffbff,
//     100: #ffffff,
//     4: #100e0d,
//     6: #161312,
//     12: #221f1e,
//     17: #2d2928,
//     22: #383433,
//     24: #3c3837,
//     87: #e0d8d6,
//     92: #eee6e4,
//     94: #f4ecea,
//     96: #faf2ef,
//   ),
//   neutral-variant: (
//     0: #000000,
//     10: #221a16,
//     20: #382e2a,
//     25: #443935,
//     30: #504440,
//     35: #5c504b,
//     40: #685c57,
//     50: #82746f,
//     60: #9c8e88,
//     70: #b8a8a2,
//     80: #d4c3bd,
//     90: #f0dfd9,
//     95: #ffede7,
//     98: #fff8f6,
//     99: #fffbff,
//     100: #ffffff,
//   ),
//   error: (
//     0: #000000,
//     10: #410002,
//     20: #690005,
//     25: #7e0007,
//     30: #93000a,
//     35: #a80710,
//     40: #ba1a1a,
//     50: #de3730,
//     60: #ff5449,
//     70: #ff897d,
//     80: #ffb4ab,
//     90: #ffdad6,
//     95: #ffedea,
//     98: #fff8f7,
//     99: #fffbff,
//     100: #ffffff,
//   ),
// );

// $_rest: (
//   secondary: map.get($_palettes, secondary),
//   neutral: map.get($_palettes, neutral),
//   neutral-variant: map.get($_palettes, neutral-variant),
//   error: map.get($_palettes, error),
// );
// $_primary: map.merge(map.get($_palettes, primary), $_rest);
// $_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

// Material 2 Default Theme
$theme-default: mat.define-light-theme(
  (
    color: (
      primary: $palette-brown,
      accent: mat.define-palette(mat.$amber-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
    density: 0,
    typography: $typography-default,
  )
);

// Material 3 Default Theme
// $theme-default: mat.define-theme(
//   (
//     color: (
//       theme-type: light,
//       primary: $_primary,
//       tertiary: $_tertiary,
//     ),
//     density: (
//       scale: 0,
//     ),
//     typography: $typography-default,
//   )
// );

// Material 2 Additional Theme
$theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$amber-palette),
      accent: $palette-brown,
      warn: mat.define-palette(mat.$red-palette),
    ),
  )
);

// Material 3 Additional Theme
// $theme-dark: mat.define-theme(
//   (
//     color: (
//       theme-type: dark,
//       primary: $_primary,
//       tertiary: $_tertiary,
//     ),
//   )
// );

// Mixins
@mixin jet-overrides {
  // Button
  --mdc-filled-button-label-text-tracking: normal;
  --mdc-outlined-button-label-text-tracking: normal;
  --mdc-protected-button-label-text-tracking: normal;
  --mdc-text-button-label-text-tracking: normal;

  // Card
  --mdc-elevated-card-container-elevation: rgba(0, 0, 0, 0.1) 0px 1px 2px;

  // List
  --mat-list-active-indicator-shape: 4px;
  --mdc-list-list-item-container-shape: 4px;
}

body {
  margin: 0;

  @include mat.core-theme($theme-default);
  @include mat.button-theme($theme-default);
  @include mat.card-theme($theme-default);
  @include mat.icon-theme($theme-default);
  @include mat.icon-button-theme($theme-default);
  @include mat.list-theme($theme-default);
  @include mat.menu-theme($theme-default);
  @include mat.progress-bar-theme($theme-default);
  @include mat.sidenav-theme($theme-default);
  @include mat.snack-bar-theme($theme-default);
  @include mat.tabs-theme($theme-default);
  @include mat.toolbar-theme($theme-default);
  @include mat.tooltip-theme($theme-default);

  // Material 2 Default Typography Hierarchy
  @include mat.typography-hierarchy($typography-default);

  // Material 3 Default Typography Hierarchy
  // @include mat.typography-hierarchy($theme-default);

  // Jet Overrides
  @include jet-overrides;

  &.jet-font-noto-sans-arabic {
    // Material 2 Additional Typography and Hierarchy
    @include mat.core-typography($typography-noto-sans-arabic);
    @include mat.button-typography($typography-noto-sans-arabic);
    @include mat.card-typography($typography-noto-sans-arabic);
    @include mat.icon-typography($typography-noto-sans-arabic);
    @include mat.icon-button-typography($typography-noto-sans-arabic);
    @include mat.list-typography($typography-noto-sans-arabic);
    @include mat.menu-typography($typography-noto-sans-arabic);
    @include mat.progress-bar-typography($typography-noto-sans-arabic);
    @include mat.sidenav-typography($typography-noto-sans-arabic);
    @include mat.snack-bar-typography($typography-noto-sans-arabic);
    @include mat.tabs-typography($typography-noto-sans-arabic);
    @include mat.toolbar-typography($typography-noto-sans-arabic);
    @include mat.tooltip-typography($typography-noto-sans-arabic);

    @include mat.typography-hierarchy($typography-noto-sans-arabic);

    // Material 3 Additional Typography and Hierarchy
    // $override-theme: mat.define-theme(
    //   (
    //     typography: $typography-noto-sans-arabic,
    //   )
    // );

    // @include mat.core-typography($override-theme);
    // @include mat.button-typography($override-theme);
    // @include mat.card-typography($override-theme);
    // @include mat.icon-typography($override-theme);
    // @include mat.icon-button-typography($override-theme);
    // @include mat.list-typography($override-theme);
    // @include mat.menu-typography($override-theme);
    // @include mat.progress-bar-typography($override-theme);
    // @include mat.sidenav-typography($override-theme);
    // @include mat.snack-bar-typography($override-theme);
    // @include mat.tabs-typography($override-theme);
    // @include mat.toolbar-typography($override-theme);
    // @include mat.tooltip-typography($override-theme);

    // @include mat.typography-hierarchy($override-theme);

    // Jet Overrides
    @include jet-overrides;
  }

  &.jet-theme-dark {
    @include mat.core-color($theme-dark);
    @include mat.button-color($theme-dark);
    @include mat.card-color($theme-dark);
    @include mat.icon-color($theme-dark);
    @include mat.icon-button-color($theme-dark);
    @include mat.list-color($theme-dark);
    @include mat.menu-color($theme-dark);
    @include mat.progress-bar-color($theme-dark);
    @include mat.sidenav-color($theme-dark);
    @include mat.snack-bar-color($theme-dark);
    @include mat.tabs-color($theme-dark);
    @include mat.toolbar-color($theme-dark);
    @include mat.tooltip-color($theme-dark);

    // Jet Overrides
    @include jet-overrides;
  }

  .jet-sidenav-container {
    &[dir='ltr'] {
      .jet-sidenav {
        --mat-sidenav-container-width: calc(240px + env(safe-area-inset-left));

        .jet-sidenav-toolbar,
        .jet-sidenav-content {
          padding: 0 16px 0 calc(16px + env(safe-area-inset-left));
        }
      }

      .jet-content {
        .jet-content-toolbar {
          padding: 0 calc(16px + env(safe-area-inset-right)) 0 16px;

          &.jet-sidenav-closed {
            padding: 0 calc(16px + env(safe-area-inset-right)) 0
              calc(16px + env(safe-area-inset-left));
          }
        }

        main {
          padding: 16px calc(16px + env(safe-area-inset-right)) 16px 16px;

          &.jet-sidenav-closed {
            padding: 16px calc(16px + env(safe-area-inset-right)) 16px
              calc(16px + env(safe-area-inset-left));
          }
        }

        .jet-tab-nav-bar {
          .mat-mdc-tab-header-pagination-before {
            padding-left: calc(env(safe-area-inset-left) + 4px);
          }

          .mat-mdc-tab-header-pagination-after {
            padding-right: calc(env(safe-area-inset-right) + 4px);
          }
        }
      }
    }

    &[dir='rtl'] {
      .jet-sidenav {
        --mat-sidenav-container-width: calc(240px + env(safe-area-inset-right));

        .jet-sidenav-toolbar,
        .jet-sidenav-content {
          padding: 0 calc(16px + env(safe-area-inset-right)) 0 16px;
        }
      }

      .jet-content {
        .jet-content-toolbar {
          padding: 0 16px 0 calc(16px + env(safe-area-inset-left));

          &.jet-sidenav-closed {
            padding: 0 calc(16px + env(safe-area-inset-right)) 0
              calc(16px + env(safe-area-inset-left));
          }
        }

        main {
          padding: 16px 16px 16px calc(16px + env(safe-area-inset-left));

          &.jet-sidenav-closed {
            padding: 16px calc(16px + env(safe-area-inset-right)) 16px
              calc(16px + env(safe-area-inset-left));
          }
        }

        .jet-tab-nav-bar {
          .mat-mdc-tab-header-pagination-before {
            padding-right: calc(env(safe-area-inset-right) + 4px);
          }

          .mat-mdc-tab-header-pagination-after {
            padding-left: calc(env(safe-area-inset-left) + 4px);
          }
        }
      }
    }

    .jet-sidenav {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
      padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom) 0;

      &.mat-drawer-side {
        border: unset;
      }

      .jet-sidenav-toolbar {
        background-color: inherit;
        justify-content: center;
      }
    }

    .jet-content {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      padding-top: env(safe-area-inset-top);

      .jet-content-toolbar {
        background-color: inherit;
        overflow-x: auto;
        position: relative;
      }

      .jet-tab-nav-bar {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        z-index: 2;

        .mat-mdc-tab-link-container {
          border-bottom: none;
          padding-bottom: env(safe-area-inset-bottom);
        }
      }
    }
  }
}

.mat-icon {
  font-variation-settings: 'FILL' 1;
}

.mat-mdc-card {
  overflow: hidden;
  .mat-mdc-card-actions {
    gap: 8px;
  }
}

.mat-mdc-form-field {
  width: 100%;

  .mat-mdc-form-field-icon-suffix,
  [dir='rtl'] .mat-mdc-form-field-icon-prefix {
    padding: 0 8px;
  }
}

.mat-mdc-snack-bar-container {
  margin: calc(8px + env(safe-area-inset-top))
    calc(8px + env(safe-area-inset-right))
    calc(8px + env(safe-area-inset-bottom))
    calc(8px + env(safe-area-inset-left)) !important;
}
