@use '@angular/material' as mat;
@use '../_theme-colors' as mat-theme;

$ns-font-family: ('Noto Sans', sans-serif);
$nsa-font-family: ('Noto Sans Arabic', sans-serif);

html {
  @include mat.theme(
    (
      color: (
        primary: mat-theme.$primary-palette,
        tertiary: mat-theme.$tertiary-palette,
        theme-type: color-scheme,
      ),
      typography: (
        plain-family: $ns-font-family,
        brand-family: $ns-font-family,
        bold-weight: 700,
        medium-weight: 500,
        regular-weight: 400,
      ),
      density: 0,
    )
  );

  @include mat.card-overrides(
    (
      elevated-container-elevation: var(--mat-sys-level0),
      subtitle-text-color: var(--mat-sys-outline),
    )
  );

  @include mat.expansion-overrides(
    (
      container-background-color: var(--mat-sys-surface-container-low),
    )
  );

  @include mat.list-overrides(
    (
      active-indicator-shape: var(--mat-sys-corner-small),
      list-item-container-shape: var(--mat-sys-corner-small),
      list-item-leading-icon-color: var(--mat-sys-outline),
      list-item-one-line-container-height: 56px,
      list-item-supporting-text-color: var(--mat-sys-outline),
      list-item-two-line-container-height: 74px,
    )
  );

  @include mat.sidenav-overrides(
    (
      container-background-color: var(--mat-sys-surface-container-low),
    )
  );

  @include mat.stepper-overrides(
    (
      header-focus-state-layer-shape: var(--mat-sys-corner-none),
      header-hover-state-layer-shape: var(--mat-sys-corner-none),
    )
  );

  @include mat.tabs-overrides(
    (
      background-color: var(--mat-sys-primary),
      divider-height: 0,
      foreground-color: var(--mat-sys-on-primary),
    )
  );
}

body {
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
  color-scheme: light dark;
  font-family: $ns-font-family;
  margin: 0;

  &.jet-color-scheme-dark {
    color-scheme: dark;
  }

  &.jet-color-scheme-light {
    color-scheme: light;
  }

  &.jet-font-pair-nsa-nsa {
    @include mat.theme(
      (
        typography: (
          plain-family: $nsa-font-family,
          brand-family: $nsa-font-family,
          bold-weight: 700,
          medium-weight: 500,
          regular-weight: 400,
        ),
      )
    );
  }

  .jet-sidenav-container {
    &[dir='ltr'] {
      .jet-sidenav {
        @include mat.sidenav-overrides(
          (
            container-width: calc(240px + env(safe-area-inset-left)),
          )
        );

        .jet-sidenav-toolbar,
        .jet-sidenav-content {
          padding-left: calc(16px + env(safe-area-inset-left));
          padding-right: 16px;
        }
      }

      .jet-content {
        .jet-content-toolbar {
          padding-left: 16px;
          padding-right: calc(16px + env(safe-area-inset-right));

          &.jet-add-safe-area {
            padding-left: calc(16px + env(safe-area-inset-left));
          }
        }

        .mat-mdc-tab-nav-panel {
          main {
            padding-left: 16px;
            padding-right: calc(16px + env(safe-area-inset-right));

            &.jet-add-safe-area {
              padding-left: calc(16px + env(safe-area-inset-left));
            }
          }
        }

        footer {
          padding-left: 16px;
          padding-right: calc(16px + env(safe-area-inset-right));

          &.jet-add-safe-area {
            padding-left: calc(16px + env(safe-area-inset-left));
          }
        }

        .jet-tab-nav-bar {
          .mat-mdc-tab-header-pagination-before {
            padding-left: calc(env(safe-area-inset-left) + 8px);
          }

          .mat-mdc-tab-header-pagination-after {
            padding-right: calc(env(safe-area-inset-right) + 8px);
          }
        }
      }
    }

    &[dir='rtl'] {
      .jet-sidenav {
        @include mat.sidenav-overrides(
          (
            container-width: calc(240px + env(safe-area-inset-right)),
          )
        );

        .jet-sidenav-toolbar,
        .jet-sidenav-content {
          padding-left: 16px;
          padding-right: calc(16px + env(safe-area-inset-right));
        }
      }

      .jet-content {
        .jet-content-toolbar {
          padding-left: calc(16px + env(safe-area-inset-left));
          padding-right: 16px;

          &.jet-add-safe-area {
            padding-right: calc(16px + env(safe-area-inset-right));
          }
        }

        .mat-mdc-tab-nav-panel {
          main {
            padding-left: calc(16px + env(safe-area-inset-left));
            padding-right: 16px;

            &.jet-add-safe-area {
              padding-right: calc(16px + env(safe-area-inset-right));
            }
          }
        }

        footer {
          padding-left: calc(16px + env(safe-area-inset-left));
          padding-right: 16px;

          &.jet-add-safe-area {
            padding-right: calc(16px + env(safe-area-inset-right));
          }
        }

        .jet-tab-nav-bar {
          .mat-mdc-tab-header-pagination-before {
            padding-right: calc(env(safe-area-inset-right) + 8px);
          }

          .mat-mdc-tab-header-pagination-after {
            padding-left: calc(env(safe-area-inset-left) + 8px);
          }
        }
      }
    }

    .jet-sidenav {
      padding-bottom: env(safe-area-inset-bottom);
      padding-top: env(safe-area-inset-top);

      .jet-sidenav-toolbar {
        justify-content: center;

        @include mat.toolbar-overrides(
          (
            container-background-color: transparent,
          )
        );
      }
    }

    .jet-content {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      padding-top: env(safe-area-inset-top);

      .jet-content-toolbar {
        gap: 8px;
        overflow-x: auto;
        position: relative;

        @include mat.toolbar-overrides(
          (
            container-background-color: transparent,
          )
        );

        .jet-progress-bar {
          bottom: 0;
          left: 0;
          position: absolute;
          right: 0;
          z-index: 2;
        }
      }

      .mat-mdc-tab-nav-panel {
        flex: 1;

        main {
          padding-bottom: 160px;
          padding-top: 16px;
        }
      }

      footer {
        padding-bottom: calc(16px + env(safe-area-inset-bottom));
        padding-top: 16px;

        &.jet-add-bottom-margin {
          margin-bottom: 48px;
        }
      }

      .jet-tab-nav-bar {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        z-index: 2;

        .mat-mdc-tab-link-container {
          padding-bottom: env(safe-area-inset-bottom);
        }
      }
    }
  }
}

img {
  font: var(--mat-sys-body-small);
  overflow: hidden;
}

table {
  border-radius: var(--mat-sys-corner-small);
  overflow: hidden;
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 1;
}

.mat-expansion-panel {
  box-shadow: none !important;
}

.mat-mdc-button-base {
  white-space: nowrap;
}

.mat-mdc-card {
  .mat-mdc-card-actions {
    gap: 8px;
  }

  .mat-mdc-card-image {
    object-fit: cover;
    width: 100%;
  }
}

.mat-mdc-form-field {
  width: 100%;

  .mat-mdc-form-field-icon-suffix {
    padding: 0 8px !important;
  }
}

.mat-mdc-option {
  @include mat.list-overrides(
    (
      list-item-container-shape: var(--mat-sys-corner-none),
    )
  );
}

.mat-mdc-paginator {
  border-radius: var(--mat-sys-corner-small);
}

.mat-mdc-snack-bar-container {
  margin: calc(8px + env(safe-area-inset-top))
    calc(8px + env(safe-area-inset-right))
    calc(8px + env(safe-area-inset-bottom))
    calc(8px + env(safe-area-inset-left)) !important;
}
