@use '@angular/material' as mat;

@include mat.core();

$noto-sans-typography: mat.define-typography-config(
  $font-family: '"Noto Sans", sans-serif',
);

$noto-sans-arabic-typography: mat.define-typography-config(
  $font-family: '"Noto Sans Arabic", sans-serif',
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$amber-palette, 500),
      accent: mat.define-palette(mat.$brown-palette, 500),
    ),
  )
);

$default-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$brown-palette, 500),
      accent: mat.define-palette(mat.$amber-palette, 500),
    ),
    typography: $noto-sans-typography,
  )
);

body {
  margin: 0;

  @include mat.core-theme($default-theme);

  @include mat.button-theme($default-theme);
  @include mat.card-theme($default-theme);
  @include mat.icon-theme($default-theme);
  @include mat.icon-button-theme($default-theme);
  @include mat.list-theme($default-theme);
  @include mat.menu-theme($default-theme);
  @include mat.progress-bar-theme($default-theme);
  @include mat.sidenav-theme($default-theme);
  @include mat.snack-bar-theme($default-theme);
  @include mat.tabs-theme($default-theme);
  @include mat.toolbar-theme($default-theme);
  @include mat.tooltip-theme($default-theme);

  @include mat.typography-hierarchy($noto-sans-typography);

  &.jet-font-noto-sans-arabic {
    @include mat.button-typography($noto-sans-arabic-typography);
    @include mat.card-typography($noto-sans-arabic-typography);
    @include mat.icon-typography($noto-sans-arabic-typography);
    @include mat.icon-button-typography($noto-sans-arabic-typography);
    @include mat.list-typography($noto-sans-arabic-typography);
    @include mat.menu-typography($noto-sans-arabic-typography);
    @include mat.progress-bar-typography($noto-sans-arabic-typography);
    @include mat.sidenav-typography($noto-sans-arabic-typography);
    @include mat.snack-bar-typography($noto-sans-arabic-typography);
    @include mat.tabs-typography($noto-sans-arabic-typography);
    @include mat.toolbar-typography($noto-sans-arabic-typography);
    @include mat.tooltip-typography($noto-sans-arabic-typography);

    @include mat.typography-hierarchy($noto-sans-arabic-typography);
  }

  &.jet-theme-dark {
    @include mat.core-color($dark-theme);

    @include mat.button-color($dark-theme);
    @include mat.card-color($dark-theme);
    @include mat.icon-color($dark-theme);
    @include mat.icon-button-color($dark-theme);
    @include mat.list-color($dark-theme);
    @include mat.menu-color($dark-theme);
    @include mat.progress-bar-color($dark-theme);
    @include mat.sidenav-color($dark-theme);
    @include mat.snack-bar-color($dark-theme);
    @include mat.tabs-color($dark-theme);
    @include mat.toolbar-color($dark-theme);
    @include mat.tooltip-color($dark-theme);
  }

  .mat-drawer-container {
    min-height: 100vh;

    &[dir='ltr'] {
      .mat-drawer {
        width: calc(240px + env(safe-area-inset-left));

        .mat-toolbar {
          padding: 0 16px 0 calc(env(safe-area-inset-left) + 16px);
        }

        .jet-drawer-content {
          padding: 0 16px 0 calc(env(safe-area-inset-left) + 16px);
        }
      }

      .mat-drawer-content {
        .mat-toolbar {
          padding: 0 calc(env(safe-area-inset-right) + 16px) 0 16px;

          &.jet-drawer-closed {
            padding: 0 calc(env(safe-area-inset-right) + 16px) 0
              calc(env(safe-area-inset-left) + 16px);
          }
        }

        main {
          padding: 16px calc(env(safe-area-inset-right) + 16px)
            calc(env(safe-area-inset-bottom) + 120px) 16px;

          &.jet-drawer-closed {
            padding: 16px calc(env(safe-area-inset-right) + 16px)
              calc(env(safe-area-inset-bottom) + 120px)
              calc(env(safe-area-inset-left) + 16px);
          }
        }
      }

      .mat-mdc-tab-nav-bar {
        .mat-mdc-tab-header-pagination-before {
          padding-left: calc(env(safe-area-inset-left) + 4px);
        }

        .mat-mdc-tab-header-pagination-after {
          padding-right: calc(env(safe-area-inset-right) + 4px);
        }
      }
    }

    &[dir='rtl'] {
      .mat-drawer {
        width: calc(240px + env(safe-area-inset-right));

        .mat-toolbar {
          padding: 0 calc(env(safe-area-inset-right) + 16px) 0 16px;
        }

        .jet-drawer-content {
          padding: 0 calc(env(safe-area-inset-right) + 16px) 0 16px;
        }
      }

      .mat-drawer-content {
        .mat-toolbar {
          padding: 0 16px 0 calc(env(safe-area-inset-left) + 16px);

          &.jet-drawer-closed {
            padding: 0 calc(env(safe-area-inset-right) + 16px) 0
              calc(env(safe-area-inset-left) + 16px);
          }
        }

        main {
          padding: 16px 16px calc(env(safe-area-inset-bottom) + 120px)
            calc(env(safe-area-inset-left) + 16px);

          &.jet-drawer-closed {
            padding: 16px calc(env(safe-area-inset-right) + 16px)
              calc(env(safe-area-inset-bottom) + 120px)
              calc(env(safe-area-inset-left) + 16px);
          }
        }
      }

      .mat-mdc-tab-nav-bar {
        .mat-mdc-tab-header-pagination-before {
          padding-right: calc(env(safe-area-inset-right) + 4px);
        }

        .mat-mdc-tab-header-pagination-after {
          padding-left: calc(env(safe-area-inset-left) + 4px);
        }
      }
    }

    .mat-drawer {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
      padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom) 0;
    }

    .mat-drawer-side {
      border: unset;
    }

    .mat-drawer-content {
      padding-top: env(safe-area-inset-top);

      .mat-mdc-tab-nav-bar {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;

        .mat-mdc-tab-link-container {
          border-bottom: unset;
          padding-bottom: env(safe-area-inset-bottom);
        }
      }
    }
  }
}

form {
  margin: 8px 0;
}

footer {
  padding: 16px 0;
}

.mat-mdc-button {
  letter-spacing: unset !important;
}

.mat-mdc-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px !important;
  overflow: hidden;

  .mat-mdc-card-content {
    box-sizing: border-box;
    overflow: auto;
  }

  .mdc-card__actions {
    gap: 8px;
  }
}

.mat-mdc-form-field {
  margin-top: 8px;
  width: 100%;
}

.mat-mdc-list-item {
  border-radius: 4px !important;
}

.mat-mdc-snack-bar-container {
  margin: calc(env(safe-area-inset-top) + 8px)
    calc(env(safe-area-inset-right) + 8px)
    calc(env(safe-area-inset-bottom) + 8px)
    calc(env(safe-area-inset-left) + 8px) !important;
}

.jet-cards-container {
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 360px));
  gap: 16px;
}

.jet-invisible {
  visibility: hidden;
}
