@use '@angular/material' as mat;

@include mat.core();

$noto-sans-typography: mat.define-typography-config(
  $font-family: '"Noto Sans", sans-serif',
);

$noto-sans-arabic-typography: mat.define-typography-config(
  $font-family: '"Noto Sans Arabic", sans-serif',
);

$default-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$brown-palette, 500),
      accent: mat.define-palette(mat.$amber-palette, 500),
    ),
    typography: $noto-sans-typography,
    density: 0,
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$amber-palette, 500),
      accent: mat.define-palette(mat.$brown-palette, 500),
    ),
  )
);

@include mat.all-component-themes($default-theme);

@include mat.typography-hierarchy($noto-sans-typography);

.jet-font-noto-sans-arabic {
  @include mat.all-component-typographies($noto-sans-arabic-typography);
}

.jet-theme-dark {
  @include mat.all-component-colors($dark-theme);
}

body {
  margin: 0;

  .mat-drawer-container {
    min-height: 100vh;

    .mat-drawer {
      padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom) 0;
    }

    .mat-drawer-side {
      border: unset;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
    }

    .mat-drawer-content {
      padding-top: env(safe-area-inset-top);

      .mat-mdc-tab-nav-bar {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;

        .mat-mdc-tab-link-container {
          padding-bottom: env(safe-area-inset-bottom);
        }
      }
    }

    &[dir='ltr'] {
      .mat-drawer {
        .mat-toolbar {
          padding: 0 16px 0 calc(env(safe-area-inset-left) + 16px);
        }

        .jet-drawer-content {
          padding: 0 16px 0 calc(env(safe-area-inset-left) + 16px);
        }
      }

      .mat-drawer-content {
        .mat-toolbar {
          padding: 0 calc(env(safe-area-inset-right) + 16px) 0 16px;

          &.jet-drawer-closed {
            padding: 0 calc(env(safe-area-inset-right) + 16px) 0
              calc(env(safe-area-inset-left) + 16px);
          }
        }

        main {
          padding: 16px calc(env(safe-area-inset-right) + 16px)
            calc(env(safe-area-inset-bottom) + 120px) 16px;

          &.jet-drawer-closed {
            padding: 16px calc(env(safe-area-inset-right) + 16px)
              calc(env(safe-area-inset-bottom) + 120px)
              calc(env(safe-area-inset-left) + 16px);
          }
        }
      }

      .mat-mdc-tab-nav-bar {
        .mat-mdc-tab-header-pagination-before {
          padding-left: calc(env(safe-area-inset-left) + 4px);
        }

        .mat-mdc-tab-header-pagination-after {
          padding-right: calc(env(safe-area-inset-right) + 4px);
        }
      }
    }

    &[dir='rtl'] {
      .mat-drawer {
        .mat-toolbar {
          padding: 0 calc(env(safe-area-inset-right) + 16px) 0 16px;
        }

        .jet-drawer-content {
          padding: 0 calc(env(safe-area-inset-right) + 16px) 0 16px;
        }
      }

      .mat-drawer-content {
        .mat-toolbar {
          padding: 0 16px 0 calc(env(safe-area-inset-left) + 16px);

          &.jet-drawer-closed {
            padding: 0 calc(env(safe-area-inset-right) + 16px) 0
              calc(env(safe-area-inset-left) + 16px);
          }
        }

        main {
          padding: 16px 16px calc(env(safe-area-inset-bottom) + 120px)
            calc(env(safe-area-inset-left) + 16px);

          &.jet-drawer-closed {
            padding: 16px calc(env(safe-area-inset-right) + 16px)
              calc(env(safe-area-inset-bottom) + 120px)
              calc(env(safe-area-inset-left) + 16px);
          }
        }
      }

      .mat-mdc-tab-nav-bar {
        .mat-mdc-tab-header-pagination-before {
          padding-right: calc(env(safe-area-inset-right) + 4px);
        }

        .mat-mdc-tab-header-pagination-after {
          padding-left: calc(env(safe-area-inset-left) + 4px);
        }
      }
    }
  }
}

.mat-mdc-button {
  letter-spacing: unset !important;
}

.mat-mdc-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px !important;
  .mat-mdc-card-content {
    box-sizing: border-box;
    overflow-x: auto;
  }
  overflow: hidden;
}

.mat-mdc-list-item {
  border-radius: 4px !important;
}

.mat-mdc-snack-bar-container {
  margin: calc(env(safe-area-inset-top) + 8px)
    calc(env(safe-area-inset-right) + 8px)
    calc(env(safe-area-inset-bottom) + 8px)
    calc(env(safe-area-inset-left) + 8px) !important;
}

.jet-invisible {
  visibility: hidden;
}
