@use '@angular/material' as mat;
@use '../_theme-colors' as mat-theme;

$bg-font-family: ('Bricolage Grotesque', serif);
$ns-font-family: ('Noto Sans', sans-serif);
$nsa-font-family: ('Noto Sans Arabic', sans-serif);

html {
  --jet-sidenav-width: 240px;

  text-size-adjust: 100%;

  @include mat.theme(
    (
      color: (
        primary: mat-theme.$primary-palette,
        tertiary: mat-theme.$tertiary-palette,
        theme-type: color-scheme,
      ),
      typography: (
        brand-family: $bg-font-family,
        plain-family: $ns-font-family,
        bold-weight: 700,
        medium-weight: 500,
        regular-weight: 400,
      ),
      density: 0,
    )
  );

  @include mat.card-overrides(
    (
      elevated-container-elevation: var(--mat-sys-level0),
      subtitle-text-color: var(--mat-sys-on-surface-variant),
    )
  );

  @include mat.chips-overrides(
    (
      elevated-container-color: var(--mat-sys-surface-container-low),
      elevated-disabled-container-color: var(--mat-sys-surface-container-lowest),
    )
  );

  @include mat.expansion-overrides(
    (
      container-background-color: var(--mat-sys-surface-container-low),
      container-elevation-shadow: var(--mat-sys-level0),
    )
  );

  @include mat.list-overrides(
    (
      list-item-container-shape: var(--mat-sys-corner-small),
      list-item-supporting-text-color: var(--mat-sys-on-surface-variant),
      list-item-two-line-container-height: 74px,
    )
  );

  @include mat.sidenav-overrides(
    (
      container-background-color: var(--mat-sys-surface-container-low),
    )
  );

  @include mat.tabs-overrides(
    (
      background-color: var(--mat-sys-primary),
      divider-height: 0,
      foreground-color: var(--mat-sys-on-primary),
    )
  );
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  color-scheme: light dark;
  font: var(--mat-sys-body-medium);
  margin: 0;

  &.jet-color-scheme-automatic {
    color-scheme: light dark;
  }

  &.jet-color-scheme-dark {
    color-scheme: dark;
  }

  &.jet-color-scheme-light {
    color-scheme: light;
  }

  &.jet-font-pair-nsa-nsa {
    @include mat.theme(
      (
        typography: (
          brand-family: $nsa-font-family,
          plain-family: $nsa-font-family,
          bold-weight: 700,
          medium-weight: 500,
          regular-weight: 400,
        ),
      )
    );
  }
}

.jet-sidenav-container {
  min-width: 360px;
  overflow-x: auto;

  &[dir='ltr'] {
    --jet-animation-multiplier: 1;
    --jet-safe-area-start: env(safe-area-inset-left);
    --jet-safe-area-end: env(safe-area-inset-right);
  }

  &[dir='rtl'] {
    --jet-animation-multiplier: -1;
    --jet-safe-area-start: env(safe-area-inset-right);
    --jet-safe-area-end: env(safe-area-inset-left);
  }

  .jet-sidenav {
    padding-bottom: env(safe-area-inset-bottom);
    padding-top: env(safe-area-inset-top);

    @include mat.sidenav-overrides(
      (
        container-width: calc(
            var(--jet-sidenav-width) + var(--jet-safe-area-start)
          ),
      )
    );

    .jet-sidenav-toolbar {
      justify-content: center;

      @include mat.toolbar-overrides(
        (
          container-background-color: transparent,
        )
      );
    }

    .jet-sidenav-nav-list,
    .jet-sidenav-toolbar {
      padding-inline-end: 16px;
      padding-inline-start: calc(16px + var(--jet-safe-area-start));
    }
  }

  .jet-sidenav-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: env(safe-area-inset-top);

    .jet-sidenav-content-toolbar {
      gap: 8px;
      overflow-x: auto;
      padding-inline-end: calc(16px + var(--jet-safe-area-end));
      padding-inline-start: 16px;
      position: relative;

      @include mat.toolbar-overrides(
        (
          container-background-color: transparent,
        )
      );

      &.jet-add-safe-area {
        padding-inline-start: calc(16px + var(--jet-safe-area-start));
      }
    }

    .mat-mdc-tab-nav-panel {
      flex: 1;

      main {
        padding-bottom: 160px;
        padding-inline-end: calc(16px + var(--jet-safe-area-end));
        padding-inline-start: 16px;
        padding-top: 16px;

        &.jet-add-safe-area {
          padding-inline-start: calc(16px + var(--jet-safe-area-start));
        }
      }
    }

    footer {
      background-color: var(--mat-sys-surface-container-low);
      padding-bottom: calc(16px + env(safe-area-inset-bottom));
      padding-inline-end: calc(16px + var(--jet-safe-area-end));
      padding-inline-start: 16px;
      padding-top: 16px;

      &.jet-add-bottom-margin {
        margin-bottom: 48px;
      }

      &.jet-add-safe-area {
        padding-inline-start: calc(16px + var(--jet-safe-area-start));
      }
    }

    .jet-tab-nav-bar {
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      z-index: 2;

      .mat-mdc-tab-header-pagination-after {
        padding-inline-end: calc(var(--jet-safe-area-end) + 8px);
      }

      .mat-mdc-tab-header-pagination-before {
        padding-inline-start: calc(var(--jet-safe-area-start) + 8px);
      }

      .mat-mdc-tab-link-container {
        padding-bottom: env(safe-area-inset-bottom);
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

img {
  font: var(--mat-sys-body-small);
}

table {
  border-radius: var(--mat-sys-corner-small);
  overflow: hidden;

  tbody {
    tr:not(.mat-mdc-no-data-row):hover {
      background-color: var(--mat-sys-surface-container);
    }
  }
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 1;
}

.mat-expansion-panel-header-description {
  justify-content: flex-end;
}

.mat-mdc-card {
  .mat-mdc-card-actions {
    gap: 8px;
  }

  .mat-mdc-card-image {
    height: auto;
    object-fit: cover;
    width: 100%;
  }
}

.mat-mdc-form-field {
  .mat-mdc-form-field-icon-suffix {
    padding: 0 8px;
  }
}

.mat-mdc-option {
  @include mat.list-overrides(
    (
      list-item-container-shape: var(--mat-sys-corner-none),
    )
  );
}

.mat-mdc-paginator {
  border-radius: var(--mat-sys-corner-small);
}

.mat-mdc-snack-bar-container {
  margin: calc(8px + env(safe-area-inset-top))
    calc(8px + env(safe-area-inset-right))
    calc(8px + env(safe-area-inset-bottom))
    calc(8px + env(safe-area-inset-left)) !important;
}

.mat-mdc-table {
  border-radius: var(--mat-sys-corner-small);
  overflow: hidden;
}
