@use '@angular/material' as mat;

@include mat.core();

$noto-sans-typography: mat.define-typography-config(
  $font-family: '"Noto Sans", sans-serif',
);

$noto-sans-arabic-typography: mat.define-typography-config(
  $font-family: '"Noto Sans Arabic", sans-serif',
);

$default-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$brown-palette),
      accent: mat.define-palette(mat.$yellow-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
    typography: $noto-sans-typography,
    density: 0,
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$brown-palette),
      accent: mat.define-palette(mat.$yellow-palette),
    ),
  )
);

@include mat.all-component-themes($default-theme);

@include mat.typography-hierarchy($noto-sans-typography);

.jet-font-noto-sans-arabic {
  @include mat.all-component-typographies($noto-sans-arabic-typography);
}

.jet-theme-dark {
  @include mat.all-component-colors($dark-theme);
}
