<ng-container *transloco="let t; prefix: 'jet-root'">
  <mat-sidenav-container
    class="mat-typography"
    [dir]="settings.languageOption.directionality"
  >
    <mat-sidenav
      #drawer
      fixedInViewport
      [mode]="isSmallViewport ? 'over' : 'side'"
      [opened]="!isSmallViewport"
    >
      <mat-toolbar>
        <ng-container *ngTemplateOutlet="logo" />
      </mat-toolbar>
      <div class="jet-drawer-content">
        <mat-nav-list>
          @for (page of pages; track page.url) {
            <a
              (click)="isSmallViewport && drawer.close()"
              matListItemTitle
              [activated]="activeUrl === page.url"
              mat-list-item
              [routerLink]="page.url"
            >
              <mat-icon matListItemIcon>{{ page.icon }}</mat-icon>
              {{ t(page.nameKey) }}
            </a>
          }
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      @if (loaderConfiguration$ | async; as loaderConfiguration) {
        <mat-progress-bar
          style="position: fixed; top: 0; left: 0; right: 0; z-index: 2"
          [ngClass]="{
            'jet-invisible': !loaderConfiguration.isVisible
          }"
          [mode]="loaderConfiguration.mode"
          [value]="loaderConfiguration.value"
          [bufferValue]="loaderConfiguration.bufferValue"
        >
        </mat-progress-bar>
      }
      <mat-toolbar [ngClass]="{ 'jet-drawer-closed': !drawer.opened }">
        @if (!isSmallViewport) {
          <button
            jetAnalytics
            jetAnalyticsEventName="Drawer"
            type="button"
            [matTooltip]="t('navigation-menu')"
            mat-icon-button
            (click)="drawer.toggle()"
          >
            <mat-icon>menu</mat-icon>
          </button>
        } @else {
          <ng-container *ngTemplateOutlet="logo" />
        }
        <small>{{ title$ | async }}</small>
        <div style="flex: 1"></div>
      </mat-toolbar>
      <mat-tab-nav-panel #tabNavPanel>
        <main [ngClass]="{ 'jet-drawer-closed': !drawer.opened }">
          <router-outlet />
        </main>
      </mat-tab-nav-panel>
      @if (isSmallViewport) {
        <nav
          mat-tab-nav-bar
          [tabPanel]="tabNavPanel"
        >
          @for (page of pages; track page.url) {
            <a
              [active]="activeUrl === page.url"
              [routerLink]="page.url"
              mat-tab-link
            >
              <mat-icon>{{ page.icon }}</mat-icon
              >&nbsp;{{ t(page.nameKey) }}
            </a>
          }
        </nav>
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
  <ng-template #logo>
    <a
      jetAnalytics
      jetAnalyticsEventName="Home"
      [matTooltip]="t('home')"
      mat-icon-button
      routerLink="/"
    >
      <img
        style="transform: scale(0.75)"
        [alt]="t('logo')"
        ngSrc="assets/logo.svg"
        width="24"
        height="24"
        priority
      />
    </a>
  </ng-template>
</ng-container>
